---
component: AUI colors
status:
  api: general
  core: true
---
<h2>Summary</h2>

<p>
    AUI defines a color palette as a set of CSS variables, and all AUI
    components depend on these values.
</p>

<p>
    If you create a component with similar semantics to one of the AUI
    components, you can reuse these variables. Alternately, if you develop
    something new, we recommend using the design tokens variables directly
    (last column) and avoiding referencing the AUI variables (first column).
</p>

<p>

    Initially these variables were introduced to support <a
    href="/docs/dark-mode-old.html">the first iteration of the dark
    mode</a>. For reference, the table below lists the values for old color
    modes: both light and dark (note that in the neutral palette &ndash;
    <code>@ak-color-N<...></code> &ndash; any given variable has different
    values between old light and old dark mode).

</p>

<p>
    The last column is for the <a href="/docs/dark-mode.html">design tokens
    mode</a>, which is the current approach to support themes.  Consult <a
    href="https://atlassian.design/components/tokens/all-tokens">Design
    tokens</a> for all available tokens. The previews are only for the
    currently-selected theme: use the switcher in the top-right corner to see
    the difference.
</p>

<p>
    Note: some of the values defined here are not colors, but for historical
    reasons they are batched inside these definitions.
</p>

{{> auidocs-colors-table data=auiColorsData }}
