---
component: Avatars
analytics:
    pageCategory: component
    component: avatar
design: https://atlassian.design/components/avatar/examples
status:
    api: general
    core: true
    wrm: com.atlassian.auiplugin:aui-avatar
    amd: false
    experimentalSince: 5.0
    generalSince: 5.1
---

<h2>Summary</h2>

<p>
    Avatars are used to add a human touch and instant clarity when understanding which user
    did what in the application. We also use avatars for projects, repositories, spaces and
    other container metaphors within Atlassian Apps.
</p>

<h2>Status</h2>
{{> status }}

<aui-docs-contents></aui-docs-contents>

<h2 id="examples">Examples</h2>
<p>The avatars have 7 size options: xsmall, small, medium, large, xlarge, xxlarge, xxxlrge</p>
<article class="aui-flatpack-example">
    <span class="aui-avatar aui-avatar-xsmall">
        <span class="aui-avatar-inner">
            <img src="images/avatar-person.svg" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-small">
        <span class="aui-avatar-inner">
            <img src="images/avatar-person.svg" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-medium">
        <span class="aui-avatar-inner">
            <img src="images/avatar-person.svg" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-large">
        <span class="aui-avatar-inner">
            <img src="images/avatar-person.svg" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-xlarge">
        <span class="aui-avatar-inner">
            <img src="images/avatar-person.svg" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-xxlarge">
        <span class="aui-avatar-inner">
            <img src="images/avatar-person.svg" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-xxxlarge">
        <span class="aui-avatar-inner">
            <img src="images/avatar-person.svg" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-xsmall">
        <span class="aui-avatar-inner">
            <img src="images/avatar-project.svg" alt="Project Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-small">
        <span class="aui-avatar-inner">
            <img src="images/avatar-project.svg" alt="Project Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-medium">
        <span class="aui-avatar-inner">
            <img src="images/avatar-project.svg" alt="Project Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-large">
        <span class="aui-avatar-inner">
            <img src="images/avatar-project.svg" alt="Project Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-xlarge">
        <span class="aui-avatar-inner">
            <img src="images/avatar-project.svg" alt="Project Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-xxlarge">
        <span class="aui-avatar-inner">
            <img src="images/avatar-project.svg" alt="Project Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-xxxlarge">
        <span class="aui-avatar-inner">
            <img src="images/avatar-project.svg" alt="Project Avatar">
        </span>
    </span>
</article>

<h2 id="usage">Usage</h2>
<p>An avatar can be used as a web component (since 9.4.1) or an HTML composition.</p>

<h3 id="web-component">Web Component</h3>

<h4 id="avatar">Avatar</h4>
<p>
    If avatars are added as a web component, they are created with a specific tag <code>&lt;aui-avatar&gt;</code>. The
    avatars variations are created with specific attributes.
</p>

<h3>Variations</h3>

<h4>User avatars</h4>
<p>Default example</p>
<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <aui-avatar></aui-avatar>
    </noscript>
</aui-docs-example>

<p>Examples with attributes</p>
<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <aui-avatar size="small"></aui-avatar>
        <aui-avatar size="xxlarge" type="user"></aui-avatar>
        <aui-avatar size="large" type="user"
            src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg" title="my-customer-avatar"
            alt="image-avatar">
        </aui-avatar>
    </noscript>
</aui-docs-example>

<h4>Project avatars</h4>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <aui-avatar type="project"></aui-avatar>
        <aui-avatar type="project" size="small"></aui-avatar>
        <aui-avatar type="project" size="xxlarge"></aui-avatar>
        <aui-avatar type="project" size="large" src="images/places-21.png" alt="project-image"
            title="my-customer-project-image">
        </aui-avatar>
    </noscript>
</aui-docs-example>

<h3>Badged Avatar(s)</h3>

<p>Avatars may have a single additional element overlaid in one of their four corners.</p>
<p>
    To add badge to avatar should be used the <code>&lt;aui-avatar-badged&gt;</code> component. It is an internal avatar component and it
    has to contain an SVG path or <code>&lt;img/&gt;</code>.
</p>
<p>The position of badge is determined by the placement attribute</p>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <aui-avatar size="small" aria-label="User (busy)">
            <aui-avatar-badged>
                <svg height="100%" version="1.1" viewBox="0 0 8 8" fill="#FF5630" width="100%"
                    xmlns="http://www.w3.org/2000/svg">
                    <description>Busy</description>
                    <circle cx="4" cy="4" r="4"></circle>
                </svg>
            </aui-avatar-badged>
        </aui-avatar>
        <aui-avatar aria-label="User (online)">
            <aui-avatar-badged placement="top-start">
                <svg height="100%" version="1.1" viewBox="0 0 8 8" fill="#36B37E" width="100%"
                    xmlns="http://www.w3.org/2000/svg">
                    <description>Online</description>
                    <circle cx="4" cy="4" r="4"></circle>
                </svg>
            </aui-avatar-badged>
        </aui-avatar>
        <aui-avatar size="xlarge" type="project" aria-label="Project (unknown status)">
            <aui-avatar-badged placement="top-end">
                <img src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg" alt="" />
            </aui-avatar-badged>
        </aui-avatar>
    </noscript>
</aui-docs-example>

<h3>Avatars Group</h3>

<p>
    The avatars can be a group in a stack. If the number of avatars is greater than 4, then a dropdown button with a number will
    appear at the end of the stack. This number shows how many avatars are hidden.
</p>
<p>You can add an avatar group with <code>&lt;aui-avatar-group&gt;</code>.</p>
<p>You can declare the size of an avatar group with the "size" attribute (sets the size of all avatars in the stack).
</p>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <aui-avatar-group size="medium">
            <aui-avatar></aui-avatar>
            <aui-avatar></aui-avatar>
            <aui-avatar></aui-avatar>
            <aui-avatar></aui-avatar>
            <aui-avatar></aui-avatar>
            <aui-avatar></aui-avatar>
            <aui-avatar></aui-avatar>
        </aui-avatar-group>
    </noscript>
</aui-docs-example>

<h3 id="HTML">HTML</h3>
<p>
    If avatars are added like an HTML composition, they are created with <code>&lt;span&gt;</code> and specific class
    names. See below on how to use it.
</p>

<h3>Variations</h3>

<h4>User avatars</h4>
<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <span class="aui-avatar aui-avatar-xxlarge">
            <span class="aui-avatar-inner">
                <img src="images/avatar-person.svg" alt="Person McRealface" />
            </span>
        </span>
    </noscript>
</aui-docs-example>

<h4>Project avatars</h4>
<p>
    Avatars can be used for "container" objects &mdash; projects, spaces, repositories, etcetera &mdash;
    to give them a recognizable visual identity.
</p>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <span class="aui-avatar aui-avatar-project aui-avatar-xlarge">
            <span class="aui-avatar-inner">
                <img src="images/avatar-project.svg" alt="My super awesome project" />
            </span>
        </span>
    </noscript>
</aui-docs-example>

<h3>Badged Avatar(s)</h3>

<p>Avatars may have a single additional element overlaid in one of their four corners.</p>
<p>
    Use badge to represent the type, permission, presence, or other contextually relevant information
    about the user or container.
</p>
<p>
    The badge must also include a textual description of the information it represents
    so that its meaning can be conveyed and understood in non-visual contexts as well.
</p>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <span class="aui-avatar aui-avatar-xxlarge" role="img" aria-label="Person McRealface (Online)">
            <span class="aui-avatar-inner">
                <img src="images/avatar-person.svg" alt="" />
            </span>
            <span class="custom-presence-indicator">
                <svg height="100%" version="1.1" viewBox="0 0 8 8" width="100%" xmlns="http://www.w3.org/2000/svg">
                    <description>Online</description>
                    <circle cx="4" cy="4" r="4"></circle>
                </svg>
            </span>
        </span>
    </noscript>
    <noscript is="aui-docs-code" type="text/css">
        .aui-avatar .custom-presence-indicator {
        /* position the indicator. AUI Avatars are a relative container. */
        position: absolute;
        bottom: 0;
        right: 0;
        /* size the indicator appropriately. content should not appear outside the indicator. */
        width: 16px;
        height: 16px;
        overflow: hidden;
        /* style the indicator. */
        color: #00875A;
        border: 3px solid #fff;
        border-radius: 100%;
        fill: #00875A;
        }
    </noscript>
</aui-docs-example>

<h2 id="options">Options</h2>

<h3>Avatar component attributes</h3>
<table class="aui">
    <tbody>
        <tr>
            <th>Attribute</th>
            <th>Description</th>
            <th>Possible Value</th>
            <th>Type</th>
            <th>Default</th>
        </tr>
        <tr>
            <td>size</td>
            <td>Set the avatar size.</td>
            <td>xmsall, small, medium, large, xlarge, xxlarge, xxxlarge</td>
            <td>string</td>
            <td>medium</td>
        </tr>
        <tr>
            <td>type</td>
            <td>Set avatar type.</td>
            <td>user, project</td>
            <td>string</td>
            <td>user</td>
        </tr>
    </tbody>
</table>

<h3>Attributes for custom avatar image</h3>
<table class="aui">
    <tbody>
        <tr>
            <th>Attribute</th>
            <th>Description</th>
            <th>Type</th>
            <th>Default</th>
        </tr>
        <tr>
            <td>src</td>
            <td>Set custom image for avatar</td>
            <td>string</td>
            <td>
                Default image, such as in the avatar example in the documentation above.
            </td>
        </tr>
        <tr>
            <td>alt</td>
            <td>Set alternative text for image</td>
            <td>string</td>
            <td></td>
        </tr>
        <tr>
            <td>title</td>
            <td>Custom title for avatar image</td>
            <td>string</td>
            <td></td>
        </tr>
    </tbody>
</table>

<h3>Badged avatar component attributes</h3>
<table class="aui">
    <tbody>
        <tr>
            <th>Attribute</th>
            <th>Description</th>
            <th>Possible Value</th>
            <th>Type</th>
            <th>Default</th>
        </tr>
        <tr>
            <td>placement</td>
            <td>Set avatar badged position</td>
            <td>top-start, top-end, bottom-start, bottom-end</td>
            <td>string</td>
            <td>bottom-end</td>
        </tr>
    </tbody>
</table>

<h3>Avatar group attribute</h3>
<table class="aui">
    <tbody>
        <tr>
            <th>Attribute</th>
            <th>Description</th>
            <th>Possible Value</th>
            <th>Type</th>
            <th>Default</th>
        </tr>
        <tr>
            <td>size</td>
            <td>Set the avatars group size (with all avatars in the group)</td>
            <td>xsmall, small, medium, large, xlarge, xxlarge, xxxlarge</td>
            <td>string</td>
            <td>medium</td>
        </tr>
    </tbody>
</table>

<h2 id="accessibility-reference">A11Y guidelines</h2>

{{> a11y-side-note }}

<h4>Textual descriptions of avatars</h4>
<p>
    An avatar must include a textual description of the concept it represents so that its meaning can be
    conveyed and understood in non-visual contexts as well.
</p>
<ul>
    <li>
        In most cases, the avatar's <code>&lt;img&gt;</code> tag should include an <code>alt</code>
        attribute describing the image.
    </li>
    <li>
        In cases where the avatar is logically grouped with text content that describes the concept
        (for example, in a <a href="{{rootPath}}docs/page-header.html">page header</a>), the avatar is effectively
        decorative.
        In such cases, you should provide <strong>an empty</strong> <code>alt</code> attribute description.
    </li>
    <li>
        Web components automatically provide <code>alt=''</code> if no alt is passed.
    </li>
</ul>

<h5>Web Components</h5>
<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-image">
                    <aui-avatar type="project" title="my-super-project"></aui-avatar>
                </div>
                <div class="aui-page-header-main">
                    <h2>My super awesome project</h2>
                    <p>
                        The avatar is related to this heading. If I were using a screen reader here,
                        it would be redundant to hear the name of the project read out twice. So,
                        we prevent the image from being described.
                    </p>
                </div>
            </div>
        </header>
    </noscript>
</aui-docs-example>

<h5>HTML</h5>
<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-image">
                    <span class="aui-avatar aui-avatar-project aui-avatar-medium">
                        <span class="aui-avatar-inner">
                            <img src="images/avatar-project.svg" alt="" />
                        </span>
                    </span>
                </div>
                <div class="aui-page-header-main">
                    <h2>My super awesome project</h2>
                    <p>
                        The avatar is related to this heading. If I were using a screen reader here,
                        it would be redundant to hear the name of the project read out twice. So,
                        we prevent the image from being described.
                    </p>
                </div>
            </div>
        </header>
    </noscript>
</aui-docs-example>

<h4>Avatar's badge status</h4>
<p>
    Badged Avatar needs to have a text description of the status it symbolizes, ensuring
    that its purpose can be communicated and comprehended by screen readers. Add the <code>aria-label</code>
    attribute to the first tag of the component. This attribute should provide a descriptive text
    explaining the image and the meaning of the status.
</p>

<h5>Web Components</h5>
<noscript is="aui-docs-code" type="text/html">
    <aui-avatar size="large" aria-label="Person McRealface (Online)" type="project">
        <aui-avatar-badged placement="top-end">
            <svg height="100%" version="1.1" viewBox="0 0 8 8" width="100%" fill="#36B37E"
                xmlns="http://www.w3.org/2000/svg">
                <description>Online</description>
                <circle cx="4" cy="4" r="4"></circle>
            </svg>
        </aui-avatar-badged>
    </aui-avatar>
</noscript>

<p>
    While using HTMl version of Avatar component you need to add:
    <ul>
        <li>
            <code>role="img"</code> to the first span tag
        </li>
        <li>
            <code>aria-label</code> to the first span tag
        </li>
        <li>
            provide empty <code>alt</code> attribute to the <code>img</code> tags inside the component.
        </li>
    </ul>
</p>

<h5>HTML</h5>
<noscript is="aui-docs-code" type="text/html">
    <span class="aui-avatar aui-avatar-xxlarge" role="img" aria-label="Person McRealface (Online)">
        <span class="aui-avatar-inner">
            <img src="images/avatar-person.svg" alt="" />
        </span>
        <span class="custom-presence-indicator">
            <svg height="100%" version="1.1" viewBox="0 0 8 8" width="100%" xmlns="http://www.w3.org/2000/svg">
                <description>Online</description>
                <circle cx="4" cy="4" r="4"></circle>
            </svg>
        </span>
    </span>
</noscript>

<h3>Recommendation</h3>
{{> a11y-recommendation }}
