---
component: Banners
analytics:
  pageCategory: component
  component: banner
design: https://design.atlassian.com/latest/product/components/messages/
status:
  api: general
  core: false
  wrm: com.atlassian.auiplugin:aui-banner
  amd: aui/banner
  experimentalSince: 5.7
  generalSince: 6.0
---

<h2>Summary</h2>

<p>Banners appear at the very top of the screen, within the application header, to display a prominent message at the top of the screen.</p>

<h2>Status</h2>
{{> status }}

<aui-docs-contents></aui-docs-contents>

<h2 id="examples">Examples</h2>

<h2 id="code">Code</h2>

<p>A banner can be created either through the Javascript API or the Application Header soy template.</p>

<h3 id="code-JS">Javascript</h3>
<p>The JavaScript API provides a flexible and convenient way to create and manage banners within your application.
    This allows you to dynamically generate banners with customized content and behavior, enabling the display of
    system-level messages to your users in a more interactive and engaging way. <br />
    By using AMD modules, you can easily include the necessary components for creating banners, ensuring that your
    code remains modular and maintainable. The banner body can be formatted using HTML, which includes text, links,
    and other elements, providing a rich and informative message for your users.</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <header id="header" role="banner"></header>
    </noscript>
    <noscript is="aui-docs-code" type="text/js">
        require(['aui/banner'], function (banner) {
            banner({
                body: 'Your <strong>license has expired!</strong> There are two days left to <a href="#">renew your license</a>.',
                type: 'warning',
            });
        });
    </noscript>
</aui-docs-example>


<h3 id="code-Soy">Soy</h3>
<p>Soy Templates provide a powerful way to create reusable and dynamic HTML templates for your application. One of the
    key advantages of using Soy Templates is that they allow you to render banners on the server-side. This approach
    enables you to generate the final HTML output for the banner before sending it to the client, ensuring a consistent
    and efficient rendering process across different parts of your application.</p>
<noscript is="aui-docs-code" type="text/handlebars">
    {call aui.page.header}
        {param headerLogoText: 'confluence' /}
        {param bannerContent}
            Your license has expired. <a href="#">Click here to renew</a>.
        {/param}
        {param bannerType: 'error' /}
        {param primaryNavContent}
            <div class="aui-nav">
                <li><a href="https://example.com/">Navigation item or dropdown trigger</a></li>
            </div>
        {/param}
            {param secondaryNavContent}
            <div class="aui-nav">
                <li><a href="https://example.com/">Often an icon-only dropdown</a></li>
            </div>
        {/param}
    {/call}
</noscript>

<h2 id="options">Options</h2>
<h3 id="options-JS">JavaScript options</h3>

<p>These options are set in the options object when creating a flag with JavaScript:</p>
<table class="aui">
    <thead>
        <tr>
            <th>Option</th>
            <th>Description</th>
            <th>Possible values</th>
            <th>Default</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>body</code></td>
            <td>The main content of the message.</td>
            <td>HTML</td>
            <td>""</td>
        </tr>
        <tr>
            <td><code>type</code></td>
            <td>The type of the message</td>
            <td>"warning" | "error" | "announcement"</td>
            <td>"error"</td>
        </tr>
    </tbody>
</table>

<h2 id="accessibility-reference">A11Y guidelines</h2>
{{> a11y-side-note }}

<p>Banner component does not provide automatic focus on the focusable elements inside.
    When it is necessary to interrupt the user's workflow to convey an important message and obtain a response, you must
    implement the autofocus feature yourself. Below are some useful resources:
</p>
<ul>
    <li><a href="https://www.w3.org/WAI/ARIA/apg/patterns/alert/">Accesible Alert Guide</a></li>
    <li>
        <a href="https://www.w3.org/WAI/ARIA/apg/patterns/alertdialog/examples/alertdialog/">Accesible Alert Dialog Guide</a>
        - includes an example with the autofocus feature implemented.
    </li>
</ul>

<h3>Recommendation</h3>
{{> a11y-recommendation }}

<script>
    const examplesHeading = document.getElementById('examples');
    const secionConfig = [
        {
            type: 'announcement',
            description: 'Announcement banners are used by admins who want to make a general announcement about the product. These banners do not contain an icon.',
            content: 'We\’re making changes to our server and Data Center products, including the end of sale for new server licenses on February 2, 2021 and the end of support for server on February 2, 2024. <a href=\"/components/banner/examples\">Learn what this means for you</a>',
        },
        {
            type: 'warning',
            description: 'Use <code>warning</code> banners when you want the user to take a specific action or to warn them that something is about to go wrong.',
            content: 'Payment details needed. To stay on your current plan after your trial ends, add payment details by June 30, 2020. <a href=\"/components/banner/examples\">Add payment details</a>',
        },
        {
            type: 'error',
            description: 'The default form of a banner. Use <code>error</code> banners to inform users something critical has happened and requires immediate attention.',
            content: 'Bitbucket is experiencing an incident, but we\’re on it. Check our status page for more details. <a href=\"http://www.bitbucket.com\">Learn more about Bitbucket</a>',
        },
    ]

    const i18nConfig = {
        announcement: 'Announcement',
        error: 'Error',
        warning: 'Warning',
    }

    secionConfig.forEach((config) => {
        const heading = document.createElement('h3');
        heading.textContent = i18nConfig[config.type];

        const description = document.createElement('p');
        description.innerHTML = config.description;

        const banner = document.createElement('div');
        banner.classList.add('aui-banner', `aui-banner-${config.type}`);
        banner.innerHTML = config.content;

        const assistiveElement = document.createElement('div');
        assistiveElement.classList.add('assistive');
        assistiveElement.textContent = `${config.type}`;

        banner.prepend(assistiveElement);

        examplesHeading.after(description);
        examplesHeading.after(banner);
        examplesHeading.after(heading);
    })
</script>