---
component: Dark mode (old)
status:
  api: general
  core: false
  wrm: com.atlassian.auiplugin:aui-dark-mode
  amd: false
  generalSince: 9.0
---
<h2>Summary</h2>

<div class="aui-message aui-message-warning">
    <p class="title">
        <strong>This theme is going to be deprecated soon</strong>
    </p>
    <p>
        We are in process of migration to <a href="/docs/dark-mode.html">Design Tokens mode</a>. If you plan on integrating theme switching,
        we highly recommend for APIs to be finalised and then using to it instead.
    </p>
    <p>
        This theme will be deprecated and removed in future versions.
    </p>
</div>

<p>The dark mode is a theme for AUI that uses a darker color palette. Its goal is to reduce the amount of light emitted
    by the screen.</p>
<p>A few of the benefits of this solution include reducing eye strain, battery usage, and easier viewing in dark
    environments.</p>

<h2>Status</h2>
{{> status }}

<h2>Code</h2>
<h3>How to use it</h3>
<p>You can turn on the dark mode by doing two things:</p>

<h4>Include dark theme resources</h4>
<p>For P2 usage include <code>com.atlassian.auiplugin:aui-dark-mode</code> web resource or make sure you include <code>aui-prototyping-darkmode.css</code>
    when using NPM package.</p>

<h4>CSS class</h4>
<p>To enable dark mode you need to add <code>aui-theme-dark</code> CSS class to body element.</p>

<h2>Example</h2>
<button id="toggle-theme" type="button" class="aui-button">Toggle dark theme</button>
<script>
   document.getElementById('toggle-theme').addEventListener('click', () => {
        const themeSwitcher = document.getElementById('switch-theme');
        themeSwitcher && themeSwitcher.click();
   });
</script>
