---
component: Flags
analytics:
  pageCategory: component
  component: flag
design: https://design.atlassian.com/latest/product/components/messages/
status:
  api: general
  core: false
  wrm: com.atlassian.auiplugin:aui-flag
  amd: false
  experimentalSince: 5.7
  generalSince: 6.0
---

<h2>Summary</h2>
<p>Flags are the primary method for providing system feedback in the product user interface. Messages include notifications of various kinds: alerts, confirmations, notices, warnings, info and errors.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>
<p>There are several flag types with different colours and icons.</p>

<div class="aui-flatpack-example flag-example">
    <button id="next-flag-show-button" class="aui-button">Show next flag</button>
</div>
<script>
    AJS.$(document).ready(function () {
        var messages = [
            {
              title: 'Backup stale',
              type: 'info',
              body: 'This JIRA instance was last backed up on Thursday, 18 September 2011.'
            },
            {
              title: 'Success!',
              type: 'success',
              body: 'You have backed up your JIRA system to C:/backups/JIRA.90383.93483.xml.'
            },
            {
              title: 'Destructive operation!',
              type: 'error',
              body: '<p>Attachments will not be backed up. This needs to be done manually.</p>' +
                    '<ul class="aui-nav-actions-list">' +
                        '<li><a href="#">Why?</a></li>' +
                        '<li><a href="#">Find out how</a></li>' +
                    '</ul>'
            },
            {
              title: 'Backing up attachments',
              type: 'warning',
              body: 'Data import will wipe all existing JIRA content - make sure you backup first!'
            },
            {
              title: 'Could not watch the page',
              type: 'info',
              body: '<p>I have actions</p>' +
                    '<ul class="aui-nav-actions-list">' +
                        '<li><a href="#">Action 1</a></li>' +
                        '<li><a href="#">Action 2</a></li>' +
                        '<li><a href="#">Action 3</a></li>' +
                    '</ul>'
            }
        ];

        AJS.$("#next-flag-show-button").on('click', function () {
            AJS.flag(messages.shift());
            if (!messages.length) {
                AJS.$(this)
                    .html('No more flags to show!!')
                    .prop('disabled', true)
                    .attr('aria-disabled', true);
            }
        });
    });
</script>

<h2>Code</h2>
<p>Flags can only be used through the Javascript API.</p>

<h3>Javascript</h3>
<h4>Creating a flag</h4>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/js">
        var myFlag = AJS.flag({
            type: 'success',
            body: 'Issue ADG-745 has been created.',
        });
    </noscript>
</aui-docs-example>

<p>Note: The aui-nav-actions-list ul should be used when adding actions at the bottom of a Flag.</p>

<h4>Closing a flag</h4>
<p>You can close the flag by calling the <code>close()</code> method on the DOM element.</p>
<noscript is="aui-docs-code" type="text/js">myFlag.close();</noscript>

<h4>Flag actions</h4>

<p>
    If the flag is more than just informational or there are obvious follow-up things a user could do,
    add a list of actions to the flag body to allow the user to easily take their next step.
    <br/>
    Actions should have the appearance of a link, but should use the appropriate HTML element for
    the action &mdash; for example, use a <code>&lt;button&gt;</code> when the action is handled
    by JavaScript or does something on the current page; use an <code>&lt;a&gt;</code> when the action
    can take the user to another location in the system.
</p>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/js">
        var myFlag = AJS.flag({
            type: 'success',
            body: 'Issue <strong>ADG-745</strong> has been created.' +
                '<ul class="aui-nav-actions-list">' +
                '<li><a class="aui-button aui-button-link" href="#">View issue</a></li>' +
                '<li><button class="aui-button aui-button-link">Add to sprint</button></li>' +
                '</ul>'
        });
    </noscript>
</aui-docs-example>

<h3>Events</h3>
<p>When a flag is closed, the native event <code>aui-flag-close</code> is triggered on the flag DOM element. This event bubbles.</p>
<noscript is="aui-docs-code" type="text/js">
    document.addEventListener('aui-flag-close', function() {
        alert('A flag has been closed');
    });
</noscript>

<h2>Options</h2>
<h3>JavaScript options</h3>
<p>These options are set in the options object when creating a flag with JavaScript:</p>
<table class="aui">
    <thead>
        <tr>
            <th>Option</th>
            <th>Description</th>
            <th>Possible values</th>
            <th>Default</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>type</code></td>
            <td>Sets the type of the message</td>
            <td>"success" | "info" | "warning" | "error"</td>
            <td>info</td>
        </tr>
        <tr>
            <td><code>body</code></td>
            <td>The main content of the message.</td>
            <td>HTML</td>
            <td>none</td>
        </tr>
        <tr>
            <td><code>close</code></td>
            <td>The closing behaviour that this flag has.
                <ul>
                    <li>"auto" closing flags fade out over time, and have a close button.</li>
                    <li>"manual" closing flags do not fade out over time, and have a close button.</li>
                    <li>"never" closing flags do not fade out over time, and do not have a close button.</li>
                </ul>
            </td>
            <td>"auto" | "manual" | "never"</td>
            <td>"manual"</td>
        </tr>
        <tr>
            <td><code>duration</code></td>
            <td>The time duration in milliseconds for the flag to disappear when the <code>close</code> option is set to "auto".</td>
            <td>number</td>
            <td>8000</td>
        </tr>
        <tr>
            <td><code>title</code></td>
            <td>Sets the title text of the message.</td>
            <td>Plain text</td>
            <td>none</td>
        </tr>
        <tr>
            <td><code>ariaLive</code></td>
            <td>Sets the aria-live of the component.</td>
            <td>"off" | "polite" | "assertive"</td>
            <td>"polite"</td>
        </tr>
        <tr>
            <td><code>ariaLabel</code></td>
            <td>Sets the aria-label of the component.</td>
            <td>string</td>
            <td>(based on <tt>type</tt> - e.g. "New information message")</td>
        </tr>
        <tr>
            <td><code>ariaDescription</code></td>
            <td>Sets the aria-description of the component.</td>
            <td>string</td>
            <td><tt>""</tt></td>
        </tr>
    </tbody>
</table>

<h2 id="accessibility-reference">A11Y guidelines</h2>
{{> a11y-side-note }}

<p>
    When the flag is set to disappear automatically, it's important to consider that some
    users may require more time to engage with it. Ensure the duration is long enough, or
    consider using the default settings, to allow sufficient interaction time for all users.
</p>

<h3>Recommendation</h3>
{{> a11y-recommendation }}
