---
component: Forms
analytics:
  pageCategory: component
  component: form
design: https://design.atlassian.com/latest/product/components/forms/
status:
  api: general
  core: true
  wrm: com.atlassian.auiplugin:aui-forms
  experimentalSince: 1.0
  generalSince: 3.0
---

<h2>Summary</h2>
<p>Forms are used to collect user input and configure options of a task the user is completing.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>
<article class="aui-flatpack-example">
    <form action="#" method="post" id="d1" class="aui">
        <fieldset>
            <div class="field-group">
                <label for="d-fname">Default field<span class="aui-icon icon-required"> required</span></label>
                <input class="text" type="text" id="d-fname" name="d-fname" title="first name">

                <div class="description">Default width input of a required field</div>
            </div>
            <div class="field-group">
                <label for="d-lname">Long field</label>
                <input class="text long-field" type="text" id="d-lname" name="d-lname" title="last name">

                <div class="error">Error message here</div>
                <div class="description">Long width input</div>
            </div>
            <div class="field-group">
                <label for="d-fname-short">Short field</label>
                <input class="text short-field" type="text" id="d-fname-short" name="d-fname-short" title="first name">

                <div class="description">Short width input</div>
            </div>
            <div class="field-group">
                <label for="d-fname-disabled">Disabled field</label>
                <input class="text" type="text" id="d-fname-disabled" name="d-fname-disabled" title="first name" disabled="">

                <div class="description">Disable field input</div>
            </div>
            <div class="field-group">
                <label for="d-fname-readonly">Readonly field</label>
                <input class="text" type="text" id="d-fname-readonly" name="d-fname-readonly" title="first name" readonly>

                <div class="description">Readonly field input</div>
            </div>
            <div class="field-group">
                <label for="email1">Email</label>
                <input class="text medium-field" type="text" id="email1" name="email" title="email" placeholder="you@example.com">
                <span class="aui-icon icon-help">help</span>

                <div class="description">Medium width input</div>
            </div>
            <div class="field-group">
                <label for="address1">Address</label>
                <input class="text medium-long-field" type="text" id="address1" name="address" title="address" placeholder="1 fake street">

                <div class="description">Medium-long width input</div>
            </div>
            <div class="field-group">
                <label for="password1" accesskey="p">Password</label>
                <input class="password" type="password" id="password1" name="password" title="password">
            </div>
        </fieldset>
    </form>

    <form action="#" method="post" id="d2" class="aui top-label">
        <h3>Top labels</h3>
        <fieldset>
            <div class="field-group">
                <label for="fname">First Name<span class="aui-icon icon-required"> required</span></label>
                <input class="text" type="text" id="fname" name="fname" title="first name">
            </div>
            <div class="field-group">
                <label for="lname">Last Name<span class="aui-icon icon-required"> required</span></label>
                <input class="text long-field" type="text" id="lname" name="lname" title="last name">
            </div>
            <div class="field-group">
                <input class="text" type="text" id="fullname" placeholder="Enter your first and last names" name="fullname" title="first and last name">
            </div>
        </fieldset>
    </form>

    <form action="#" method="post" id="d3" class="aui">
        <h3>Dropdowns and multi select</h3>
        <fieldset>
            <legend><span>Dropdowns and multi select</span></legend>
            <div class="field-group">
                <label for="dBase">Dropdown</label>
                <select class="select" id="dBase" name="dBase" title="database select">
                    <option>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <optgroup label="Group 1">
                        <option>Option one</option>
                        <option>Option two</option>
                    </optgroup>
                    <option>Option 3</option>
                    <option>Option 4</option>
                </select>
            </div>
            <div class="field-group">
                <label for="multiselect">Multi select</label>
                <select class="multi-select" size="4" multiple="multiple" id="multiselect" name="multiselect">
                    <option>option one</option>
                    <option>option two</option>
                    <option>option three</option>
                    <option>option four</option>
                    <option>option five</option>
                    <option>option six</option>
                </select>

                <div class="description">Multi select description</div>
            </div>
        </fieldset>

        <h3>Textarea</h3>
        <fieldset>
            <legend><span>Textarea Legend</span></legend>
            <div class="field-group">
                <label for="comment">Comment</label>
                <textarea class="textarea" name="comment" id="comment" placeholder="Your comment here..."></textarea>
            </div>
            <div class="field-group">
                <label for="licenseKey">License key</label>
                <textarea class="textarea" rows="6" cols="10" name="licenseKey" id="licenseKey"></textarea>
            </div>
        </fieldset>
        <div class="buttons-container">
            <div class="buttons">
                <input class="button submit" type="submit" value="Save" id="d-save-btn1">
                <a class="cancel" href="#">Cancel</a>
            </div>
        </div>

        <h3>Radio buttons</h3>
        <fieldset class="group">
            <legend><span>Radio buttons</span></legend>
            <div class="radio">
                <input type="radio" checked="checked" name="rads" id="irOne">
                <label for="irOne">Save as a blog post</label>
            </div>
            <div class="radio">
                <input type="radio" name="rads" id="irTwo">
                <label for="irTwo">Save as a page</label>
            </div>
            <div class="radio">
                <input type="radio" name="rads" id="irThree">
                <label for="irThree">Save to your drafts</label>
            </div>
        </fieldset>

        <h3>Disabled Radio buttons</h3>
        <fieldset class="group">
            <legend><span>Radio buttons</span></legend>
            <div class="radio">
                <input disabled type="radio" checked="checked" name="radsDisabled" id="irOneDisabled">
                <label for="irOneDisabled">Save as a blog post</label>
            </div>
            <div class="radio">
                <input disabled type="radio" name="radsDisabled" id="irTwoDisabled">
                <label for="irTwoDisabled">Save as a page</label>
            </div>
            <div class="radio">
                <input disabled type="radio" name="radsDisabled" id="irThreeDisabled">
                <label for="irThreeDisabled">Save to your drafts</label>
            </div>
        </fieldset>

        <h3>Checkboxes</h3>
        <fieldset class="group">
            <legend><span>Checkboxes</span></legend>
            <div class="checkbox">
                <input type="checkbox" name="cbOne" id="cbOne">
                <label for="cbOne">Receive email</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" name="cbTwo" id="cbTwo">
                <label for="cbTwo">Receive push notifications</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" name="cbThree" id="cbThree">
                <label for="cbThree">Receive in-app notifications</label>
            </div>
        </fieldset>

        <h3>Disabled Checkboxes</h3>
        <fieldset class="group">
            <legend><span>Checkboxes</span></legend>
            <div class="checkbox">
                <input disabled checked type="checkbox" name="cbOneDisabled" id="cbOneDisabled">
                <label for="cbOneDisabled">Receive email</label>
            </div>
            <div class="checkbox">
                <input disabled type="checkbox" name="cbTwoDisabled" id="cbTwoDisabled">
                <label for="cbTwoDisabled">Receive push notifications</label>
            </div>
            <div class="checkbox">
                <input disabled type="checkbox" name="cbThreeDisabled" id="cbThreeDisabled">
                <label for="cbThreeDisabled">Receive in-app notifications</label>
            </div>
        </fieldset>

        <h3>File upload</h3>
        <fieldset>
            <legend><span>File upload<span class="aui-icon icon-required"></span></span></legend>
            <div class="field-group">
                <label for="uploadFile">Upload file</label>
                <input class="upfile" type="file" id="uploadFile" name="uploadFile" title="upload file">
            </div>
        </fieldset>
    </form>
</article>

<h2>Code</h2>
<h3>HTML</h3>
<p>Forms are constructed with a root element (form.aui), containers (commonly for rows), then various input or button types within those containers.</p>
<p>Commonly, there will be a set of fieldsets and field group elements (depending on the input type contained); and in almost all cases a buttons container at the end. Remember all inputs should have a label, it makes them more usable and accessible.</p>
<noscript is="aui-docs-code" type="text/html">
    <form ... class="aui">
        <div class="field-group">...</div>
        <div class="field-group">...</div>
        <div class="buttons-container">
            <div class="buttons">...</div>
        </div>
    </form>
</noscript>

<p>A simple example including a required field:</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <div class="field-group">
                <label for="comment-email">Email
                    <span class="aui-icon icon-required">(required)</span></label>
                <input class="text medium-field" type="text"
                       id="comment-email" name="comment-email" placeholder="you@example.com">
                <div class="description">Your
                    primary email address.</div>
            </div>
            <div class="field-group">
                <label for="comment-input">Comment</label>
                <textarea class="textarea" name="comment-input"
                          id="comment-input" placeholder="Your comment here..."></textarea>
            </div>
            <div class="buttons-container">
                <div class="buttons">
                    <input class="button submit" type="submit" value="Save" id="comment-save-button">
                    <a class="cancel" href="#">Cancel</a>
                </div>
            </div>
        </form>
    </noscript>
</aui-docs-example>

<h4>Text inputs</h4> </br>
Please follow <a href="https://atlassian.design/components/textfield/usage" target="_blank">Atlassian Design System Text field guide</a> for usage cases and the best practicies.


<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">

            <h3> Default width input of a required field with label and error message </h3>
            <div class="field-group">
                <label for="text-input">Important information <span class="aui-icon icon-required">required</span> </label>
                <input aria-describedby="text-input-error-message text-input-description"
                       class="text"
                       type="text"
                       id="text-input"
                       name="text-input">
                <div id="text-input-error-message" class="error">Error message</div>
                <div id="text-input-description" class="description">
                    Additional description text
                </div>
            </div>


            <h3> Default width input of a required field with aria-label (since regular one is missing), autocomplete and error message </h3>
            <div class="field-group">
                <input aria-label="First name"
                       aria-describedby="text-input-2-error-message text-input-2-description"
                       autocomplete="given-name"
                       class="text"
                       type="text"
                       id="text-input-2"
                       name="text-input-2">
                <div id="text-input-2-error-message" class="error">Error message</div>
                <div id="text-input-2-description" class="description">
                    Enter first name
                </div>
            </div>

        </form>
    </noscript>
</aui-docs-example>

<h4>Textareas</h4>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <fieldset>
                <legend><span>Leave a comment</span></legend>
                <div class="field-group">
                    <label for="textarea-id">Comment</label>
                    <textarea class="textarea" name="comment" id="textarea-id" placeholder="Your comment here..."></textarea>
                </div>
            </fieldset>
        </form>
    </noscript>
</aui-docs-example>

<h4 id="radio-buttons">Radio Buttons</h4>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <fieldset class="group" aria-describedby="radiobuttonsErrorDescription radiobuttonsDescriptionAsFieldGroup">
                <legend><span>Radio buttons</span></legend>
                <div class="radio">
                    <input
                        type="radio"
                        checked="checked"
                        name="radiobuttons"
                        id="radioButtonOne"
                    >
                    <label for="radioButtonOne">Save as a blog post</label>
                </div>
                <div class="radio">
                    <input
                        type="radio"
                        name="radiobuttons"
                        id="radioButtonTwo"
                    >
                    <label for="radioButtonTwo">Save as a page</label>
                </div>
                <div class="radio">
                    <input
                        type="radio"
                        name="radiobuttons"
                        id="radioButtonThree"
                    >
                    <label for="radioButtonThree">Save to your drafts</label>
                </div>
                <div class="field-group">
                    <div class="error" id="radiobuttonsErrorDescription">Error message</div>
                    <div class="description" id="radiobuttonsDescriptionAsFieldGroup">Another detailed description for the whole fieldset</div>
                </div>
            </fieldset>
        </form>
    </noscript>
</aui-docs-example>

<h5>Radio buttons a11y guidelines</h5>
{{> a11y-side-note }}
<ul>
    <li>Keep radio button's labels short and descriptive.</li>
    <li>(If applicable) Start all labels with a capital letter.</li>
    <li>Don't include punctuation at the end of labels.</li>
    <li>
        Provide unique labels for each radio button. This will ensure that screen
        reader users can understand the purpose of them when read out of
        context.
    </li>
    <li>
        When a form is submitted with invalid data:
        <ul>
            <li>
                Ensure that error text is not visible by default. It should be
                available only after the form submission.
            </li>
            <li>
                Set focus on the first field with error as soon as the form is
                submitted.
            </li>
            <li>
                The error text should be announced before the description,
                e.g. <code>aria-describedby="error-id description-id"</code>.
            </li>
        </ul>
    </li>
</ul>

<h4 id="checkboxes">Checkboxes</h4>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <fieldset class="group">
                <legend><span>Description of the set of checkboxes</span></legend>
                <div class="checkbox">
                    <input type="checkbox" name="checkBoxOne" id="checkBoxOne">
                    <label for="checkBoxOne">Receive email</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="checkBoxTwo" id="checkBoxTwo">
                    <label for="checkBoxTwo">Receive push notifications</label>
                </div>

                <input type="checkbox" name="checkBoxThree" id="checkBoxThree">
                <label for="checkBoxThree">Receive in-app notifications</label>
            </fieldset>
        </form>
    </noscript>
</aui-docs-example>

<h5>Checkboxes a11y guidelines guidelines</h5>
{{> a11y-side-note }}
<ul>
  <li>Keep checkbox labels short and descriptive.</li>
  <li>Start all checkbox labels with a capital letter.</li>
  <li>Don't include punctuation after checkbox labels.</li>
  <li>
    Provide unique labels for the checkboxes. This will ensure that screen
    reader users can understand the purpose of the checkbox when read out of
    context.
  </li>
  <li>
      When a form is submitted with invalid data:
      <ul>
          <li>
              Ensure that error text is not visible by default. It should be
              available only after the form submission.
          </li>
          <li>
              Set focus on the first field with error as soon as the form is
              submitted.
          </li>
          <li>
              The error text should be announced before the description,
              e.g. <code>aria-describedby="error-id description-id"</code>.
          </li>
      </ul>
  </li>
</ul>

<h4>Select</h4>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <div class="field-group">
                <label for="select-example">Dropdown</label>
                <select class="select" id="select-example" name="select-example">
                    <option>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <optgroup label="Group 1">
                        <option>Option one</option>
                        <option>Option two</option>
                    </optgroup>
                    <option>Option 3</option>
                    <option>Option 4</option>
                </select>
            </div>
        </form>
    </noscript>
</aui-docs-example>

<h4 id="multi-select">Multi-select <span class="aui-lozenge aui-lozenge-error">Deprecated</span></h4>

<div class="aui-message aui-message-warning warning">
    <p class="title"><strong>Use Select2 instead</strong></p>
    <p>

        The default browser behavior of selecting multiple items is
        non-intuitive and not accessible. Please use
        <a href="/docs/auiselect2.html">Select2</a> instead.
    </p>
</div>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <div class="field-group">
                <label for="multiselect">Multi select</label>
                <select class="multi-select" size="4" multiple="multiple" id="multiselect" name="multiselect">
                    <option>option one</option>
                    <option>option two</option>
                    <option>option three</option>
                    <option>option four</option>
                    <option>option five</option>
                    <option>option six</option>
                </select>
            </div>
        </form>
    </noscript>
</aui-docs-example>

<h4>File upload</h4>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <fieldset>
                <legend><span>File upload</span></legend>
                <div class="field-group">
                    <label for="file-upload-example">Upload
                        file</label>
                    <input class="upfile" type="file" id="file-upload-example" name="file-upload-example">
                </div>
            </fieldset>
        </form>
    </noscript>
</aui-docs-example>

<h4>Styled file upload</h4>
<div class="aui-message aui-message-hint">
    <p>
        In an Atlassian Plugin, you must include an additional web-resource
        dependency on <code>com.atlassian.auiplugin:fancy-file-input</code> for this
        behaviour to work.
    </p>
</div>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <fieldset>
                <div class="field-group">
                    <label for="ffi1">Fancy File Input</label>
                    <label class="ffi" data-ffi-button-text="Browse">
                        <input type="file" id="ffi1" name="ffi1" aria-label="Fancy File Input">
                    </label>
                </div>
            </fieldset>
        </form>
    </noscript>
    <noscript is="aui-docs-code" type="text/js">
        AJS.$(function () {
            AJS.$('.ffi input[type="file"]').fancyFileInput();
        });
    </noscript>
</aui-docs-example>

<h4>Disabled field</h4>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <div class="field-group">
                <label for="disabled-field-id">Disabled
                    field</label>
                <input class="text" type="text" id="disabled-field-id" name="nameoffield" disabled>
            </div>
        </form>
    </noscript>
</aui-docs-example>

<h4>Required field</h4>
<p>Note AUI provides the visual style only, you will need to implement validation:</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <div class="field-group">
                <label for="required-input">Field<span class="aui-icon icon-required">
            required</span></label>
                <input id="required-input" type="text" class="text">
            </div>
        </form>
    </noscript>
</aui-docs-example>

<h4>Error</h4>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <div class="field-group">
                <input type="text" class="text">
                <div class="error">Error message here</div>
            </div>
        </form>
    </noscript>
</aui-docs-example>

<h4>Description</h4>
<p>Descriptions go just after their input. They should only be used for non-critical, supplementary text. Critical information must go in the label:</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <div class="field-group">
                <input type="text" class="text">
                <div class="description">Some
                    extra info that is nice to know but the user can get by without
                    it.</div>
            </div>
        </form>
    </noscript>
</aui-docs-example>

<h3>JavaScript</h3>
<h4>Inline help</h4>
<p>Forms include the option for an inline help field, which is hidden on load and toggled with JavaScript.</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/js">
        AJS.$(document).ready(function(){
            AJS.inlineHelp();
        });
    </noscript>
    <noscript is="aui-docs-code" type="text/html">
        <form action="#" method="post" class="aui">
            <label for="inline-help-example">First
                name<span class="aui-icon icon-required"></span></label>
            <input class="text" type="text" id="inline-help-example" name="inline-help-example">
            <span class="aui-icon icon-inline-help"><span>Help</span></span>
            <span class="field-help hidden">This
            text will be toggled if the user clicks the help
            icon.</span>
        </form>
    </noscript>
</aui-docs-example>

<h2>Options</h2>
<h3>Form layouts</h3>
<p>The overall layout of the form can be chosen by adding a class to the root element:</p>
<ul>
    <li>default, shorter labels&nbsp;(no additional class) - standard layout has narrow labels to the left of inputs.</li>
    <li>long-label&nbsp;(<code>class="aui long-label"</code>) - makes the labels wider.</li>
    <li>top-label&nbsp;(<code>class="aui top-label"</code>) – Places labels above form elements (except radios and checkboxes where the label remains to the right of the input). This style is used for forms in narrow spaces.</li>
</ul>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui top-label">
            <fieldset>
                <div class="field-group">
                    <label for="toplabelfieldexample">Search users</label>
                    <input class="text" type="text" id="toplabelfieldexample" name="toplabelfieldexample">
                </div>
            </fieldset>
        </form>
    </noscript>
</aui-docs-example>

<h3>Form input widths</h3>
<p>You can increase the width of an input (note this is separate from the width of the label, controlled by form layouts) by adding a class to the input:</p>
<ul>
    <li>Short:&nbsp;<code>class="short-field"</code></li>
    <li>Medium:&nbsp;<code>class="medium-field"</code></li>
    <li>Medium-long:&nbsp;<code>class="medium-long-field"</code></li>
    <li>Long:&nbsp;<code>class="long-field"</code></li>
    <li>Full width:&nbsp;<code>class="full-width-field"</code> (this will make the field expand to the full available width)</li>
</ul>
<p>For example, to set a long field:</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <label for="longfieldexample">Search users</label>
            <input class="text long-field" type="text" id="longfieldexample" name="longfieldexample">
        </form>
    </noscript>
</aui-docs-example>
