---
component: Form notifications
analytics:
  pageCategory: component
  component: form-notification
design: https://design.atlassian.com/latest/product/components/forms/
status:
  api: general
  core: false
  wrm: com.atlassian.auiplugin:aui-form-notification
  amd: aui/form-notification
  experimentalSince: 5.7
  generalSince: 9.7
---

<h2>Summary</h2>
<p>Form notifications are used to display description or error messages for form fields.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>
<article class="aui-flatpack-example">
    <form class="aui">
        <div class="field-group">
            <label for="demo-info-message-1">Input with an info notification</label>
            <input id="demo-info-message-1" class="text" type="text" aria-describedby="demo-info-message-1-description">
            <div class="description" id="demo-info-message-1-description">
                Choose a username at least 6 characters long
            </div>
        </div>
    </form>
    <form class="aui">
        <div class="field-group">
            <label for="demo-info-message-2">Input with an info notification</label>
            <input id="demo-info-message-2" class="text" type="text" aria-describedby="demo-info-message-2-error">
            <div class="error" id="demo-info-message-2-error">
                <ul>
                    <li><span class="aui-icon aui-icon-small aui-iconfont-error aui-icon-notification"></span>This
                        field has a problem
                    </li>
                    <li><span class="aui-icon aui-icon-small aui-iconfont-error aui-icon-notification"></span>In
                        fact, it has two problems
                    </li>
                </ul>
            </div>
        </div>
    </form>
</article>

<h2>Code</h2>
<h3>HTML</h3>
Use markup to display description for your form fields:
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <div class="field-group">
                <label for="demo-info-message-1">Input with an info notification</label>
                <input id="demo-info-message-1" class="text" type="text" aria-describedby="demo-info-message-1-description">
                <div class="description" id="demo-info-message-1-description">
                    Choose a username at least 6 characters long
                </div>
            </div>
        </form>
    </noscript>
</aui-docs-example>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <div class="field-group">
                <label for="demo-info-message-2">Input with an info notification</label>
                <input id="demo-info-message-2" class="text" type="text" aria-describedby="demo-info-message-2-error">
                <div class="error" id="demo-info-message-2-error">
                    <ul>
                        <li><span class="aui-icon aui-icon-small aui-iconfont-error aui-icon-notification"></span>This
                            field has a problem
                        </li>
                        <li><span class="aui-icon aui-icon-small aui-iconfont-error aui-icon-notification"></span>In
                            fact, it has two problems
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </noscript>
</aui-docs-example>

<h3>Data attributes <span class="aui-lozenge aui-lozenge-removed">deprecated</span></h3>
<div class="aui-message aui-message-warning warning">
    <p class="title"><strong>Use HTML markup</strong></p>
    Data attributes are <strong>deprecated</strong> and will be removed in the future. Use HTML markup directly instead.
</div>

<p>Create a field with the attribute <code>data-aui-notification-field</code>. </p>

<h4>Info messages</h4>

<p>Information about a field can be communicated by adding the <code>data-aui-notification-info</code> data attribute.
    The value of this attribute should be the message you wish to place on the field</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <div class="field-group">
                <label for="demo-info-message">Input with an info notification</label>
                <input id="demo-info-message" class="text" type="text" data-aui-notification-field
                       data-aui-notification-info="Choose a username at least 6 characters long">
            </div>
        </form>
    </noscript>
</aui-docs-example>

<h4>Error messages</h4>

<p>In the same way, you may put error messages on the field with the <code>data-aui-notification-error</code> data
    attribute.</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <div class="field-group">
                <label for="demo-info-message">Input
                    with an error notification</label>
                <input id="demo-info-message" class="text" type="text" data-aui-notification-field
                       data-aui-notification-error="There is a problem with this field">
            </div>
        </form>
    </noscript>
</aui-docs-example>

<p>The <code>.error</code> container is only present when there are a non-zero number of errors. It is removed from the DOM otherwise.</p>

<h4>Stacked messages</h4>

<p>You can stack multiple messages on a field at the same time. This can be done by making the array a JSON array
    string.</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <form class="aui">
            <div class="field-group">
                <label for="demo-info-message">Input with multiple error notifications</label>
                <input id="demo-info-message" class="text" type="text" data-aui-notification-field
                       data-aui-notification-error='["This field has a problem","In fact, it has two problems"]'>
            </div>
        </form>
    </noscript>
</aui-docs-example>
