---
component: Icons
analytics:
  pageCategory: component
  component: icon
design: https://atlassian.design/foundations/iconography
status:
  api: general
  core: false
  wrm: com.atlassian.auiplugin:aui-icon, com.atlassian.auiplugin:aui-iconography
  amd: false
  experimentalSince: 5.0
  generalSince: 5.1
---

<h2>Summary</h2>
<p>Icons are visual artifacts to communicate, guide and inform the user. They can help users find their way through an
    interface, make the meaning of buttons clearer, and prepare users for what is happening next. Icons work at their
    best when they're consistent, familiar and recognizable to the user.
</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.1/clipboard.min.js"></script>
<article class="aui-flatpack-example">
    <div class="aui-group">
        <form class="aui" onsubmit="return false">
            <input id="search-icons" placeholder="Search" autocomplete="off" type="text" class="text">
        </form>
    </div>
    <div class="aui-group">
        <div id="icons-list"><p>Loading icons...</p></div>
    </div>
</article>

<p>
    You should adjust <code>aria-label</code> to suit the meaning and usability
    of your scenario. If you are using it in a button which has the button's
    action as visible text (i.e. the icon is decorative), you should leave the
    icon's label empty. However if you are creating an icon-only control (the
    icon is informative), you should include the alternative text.
</p>

<h2>Code</h2>
<h3>Informative icon</h3>
<p>Use for an icon-only control.</p>
<p>
    Icons are simply <code>span</code> elements with an image or icon font
    applied. Use <code>aria-label</code> as assistive/alternative text, and
    <code>role="img"</code>.
</p>
<h4>HTML - old pattern</h4>
<p>
    This pattern was used before AUI 9.6.0.  While still working, it's not
    encouraged anymore because <code>role="img"</code> and
    <code>aria-label</code> attributes have better screen reader support.
</p>
<noscript is="aui-docs-code" type="text/html">
    <span class="aui-icon aui-icon-large aui-iconfont-configure">configure</span>
</noscript>

<h4>HTML - preferred pattern</h4>
<noscript is="aui-docs-code" type="text/html">
    <span class="aui-icon aui-icon-large aui-iconfont-configure" role="img" aria-label="configure" />
</noscript>

<h4>Soy</h4>
<noscript is="aui-docs-code" type="text/handlebars">
    {call aui.icons.icon}
        {param useIconFont: true /}
        {param size: 'large' /}
        {param icon: 'configure' /}
        {param accessibilityText: 'configure' /}
    {/call}
</noscript>

<h3>Decorative icon</h3>
<p>Use when a text following the icon describes its purpose.</p>
<h4>HTML</h4>
<noscript is="aui-docs-code" type="text/html">
    <span class="aui-icon aui-icon-large aui-iconfont-configure" /> Configure
</noscript>

<h3>Soy</h3>
<noscript is="aui-docs-code" type="text/handlebars">
    {call aui.icons.icon}
        {param useIconFont: true /}
        {param size: 'large' /}
        {param icon: 'configure' /}
    {/call}
    {sp}Configure
</noscript>

<h2>Options</h2>
<p>Vector icon sizes:</p>
<ul>
    <li>small</li>
    <li>large</li>
</ul>
