---
component: Page panels
analytics:
  pageCategory: component
  component: page-content-layout
design: https://design.atlassian.com/latest/product/foundations/layout/
status:
  api: general
  core: true
  wrm: com.atlassian.auiplugin:aui-page-layout
  amd: false
  experimentalSince: 5.0
  generalSince: 5.1
---

<h2>Summary</h2>
<p>
    Content layout system for the content area within <a href="{{rootPath}}docs/page.html">the Page component</a>.
    It divides up the content area into combinations like navigation+content, content+sidebar, etc.
</p>
<p>
    <strong>Note this component can only be used once per document</strong>, within the
    <var>#content</var> element; and it cannot be nested.
</p>
<p>
    If you need generic columns of content further down in the DOM,
    <a href="{{rootPath}}docs/layout.html">use layout groups</a>.
</p>

<h2>Status</h2>
{{> status }}

<h2>Code</h2>
<h3>HTML</h3>
<p>The core layout requires the page panel, a page panel inner and at least one panel - usually a content panel. The extra elements are used across layout variations so do not omit them.</p>
<p>For a simple content area with no divisions:</p>

<noscript is="aui-docs-code" type="text/html">
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <h2>Page content heading</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </section>
        </div>
    </div>
</noscript>

<p>Navigation (<code>aui-page-panel-nav</code>), sidebar (<code>aui-page-panel-sidebar</code>) and generic items (<code>aui-page-panel-item</code>) can be added as siblings of content (<code>aui-page-panel-content</code>). By default the items are rendered
    as columns.</p>
<p>A three-column layout:</p>

<noscript is="aui-docs-code" type="text/html">
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <nav class="aui-page-panel-nav">
                <!-- content such as a vertical nav -->
            </nav>
            <section class="aui-page-panel-content">
                <!-- main area for content -->
            </section>
            <aside class="aui-page-panel-sidebar">
                <!-- tangential content here -->
            </aside>
        </div>
    </div>
</noscript>

<p>The generic item is relatively unstyled - it allows custom extensions to content layouts where required:</p>

<noscript is="aui-docs-code" type="text/html">
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-item someclass">
                <!-- content -->
            </section>
            <section class="aui-page-panel-item someotherclass">
                <!-- content -->
            </section>
        </div>
    </div>
</noscript>

<h3>Soy</h3>
<p>Called with JavaScript:</p>

<noscript is="aui-docs-code" type="text/js">
    aui.page.pagePanel({
        tagName: 'section',
        content:
            aui.page.pagePanelNav({
                tagName: 'section',
                content: '...'
            }) +
            aui.page.pagePanelContent({
                tagName: 'aside',
                content: '...'
            }) +
            aui.page.pagePanelSidebar({
                tagName: 'nav',
                content: '...'
            })
    });
</noscript>

<p>Server-side Soy:</p>

<noscript is="aui-docs-code" type="text/handlebars">
    {call aui.page.pagePanel}
        {param content}
            {call aui.page.pagePanelNav}
                {param content}
                    <p>content</p>
                {/param}
            {/call}
            {call aui.page.pagePanelContent}
                {param content}
                    <p>content</p>
                {/param}
            {/call}
            {call aui.page.pagePanelSidebar}
                {param content}
                    <p>content</p>
                {/param}
            {/call}
        {/param}
    {/call}
</noscript>
