---
component: Tooltips
analytics:
  pageCategory: component
  component: tooltip
design: https://design.atlassian.com/latest/product/components/tooltips/
status:
  api: general
  core: false
  wrm: com.atlassian.auiplugin:aui-tooltips
  amd: false
  experimentalSince: 5.1
  generalSince: 5.8
---

<h2>Summary</h2>

<p>Tooltips can describe a UI element in a little bit more detail when users deliberately hover on an element.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>
<a id="simple-tooltip-example" href="https://example.com/" title="This is a simple tooltip">Hover over me</a>
<script>
    AJS.$("#simple-tooltip-example").tooltip();
</script>

<h2>Code</h2>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <a id="simple-tooltip" href="https://example.com/" title="This is a simple tooltip">tooltip</a>
    </noscript>
    <noscript is="aui-docs-code" type="text/js">
        AJS.$("#simple-tooltip").tooltip();
    </noscript>
</aui-docs-example>
<p>Calling .tooltip() will create a tooltip with ADG style and default options applied.</p>

<h2>Options</h2>

<p> Options are set by passing in an options object.</p>


<p>You can override default (200px) max width of the tooltip by setting the <code>maxWidth</code> option:</p>
<noscript is="aui-docs-code" type="text/js">
    AJS.$('#tooltip').tooltip({maxWidth: 150}); // 150px
</noscript>

<p>You can control the direction/positioning of the tooltip by setting the <code>gravity</code> option:</p>
<noscript is="aui-docs-code" type="text/js">
    AJS.$('#north').tooltip({gravity: 'n'});
    AJS.$('#south').tooltip({gravity: 's'});
    AJS.$('#east').tooltip({gravity: 'e'});
    AJS.$('#west').tooltip({gravity: 'w'});
    AJS.$('#north-west').tooltip({gravity: 'nw'});
    AJS.$('#north-east').tooltip({gravity: 'ne'});
    AJS.$('#south-west').tooltip({gravity: 'sw'});
    AJS.$('#south-east').tooltip({gravity: 'se'});
</noscript>
<p> The text of the tooltip can be set arbitrarily: </p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/js">
        AJS.$('#custom-tooltip').tooltip({
            title: function () {
                var index = AJS.$("a").index(this);
                return "This is link number " + index + " in all of the page";
            }
        });
    </noscript>
    <noscript is="aui-docs-code" type="text/html">
        <a id="custom-tooltip" href="https://example.com/">Custom tooltip</a>
    </noscript>
</aui-docs-example>

<p>You can set the tooltip on an element by using selectors even before they are rendered on the page. Once they are
added to the page, the tooltip will work with the provided options</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <a id="tooltip-example" href="https://example.com/">tooltip with live option</a>
    </noscript>
    <noscript is="aui-docs-code" type="text/js">
        $(document).tooltip({
          title: "tooltip via selector",
          live: "#tooltip-example"
        });
    </noscript>
</aui-docs-example>

<h2>Javascript API</h2>

<p>
    You can programatically control visibility of tooltips by passing in the string value <code>"hide"</code> and <code>"show"</code>.
</p>
<noscript is="aui-docs-code" type="text/js">
    AJS.$('#custom-tooltip').tooltip('hide');
    AJS.$('#custom-tooltip').tooltip('show');
</noscript>
<p>

<p>
    You can unbind and remove tooltips by passing in the string value <code>"destroy"</code>.
    Tooltips bound using the <code>live</code> option cannot be destroyed.
</p>
<noscript is="aui-docs-code" type="text/js">
    AJS.$('#custom-tooltip').tooltip('destroy');
</noscript>

<p>
    You can disable tooltips by passing in the string value <code>"disable"</code>.
    You can enable tooltips back by passing in the string value <code>"enable"</code>.
</p>
<noscript is="aui-docs-code" type="text/js">
    AJS.$('#custom-tooltip').tooltip('disable');
    AJS.$('#custom-tooltip').tooltip('enable');
</noscript>
