section {
    display: flex;
}
section > * {
    flex: 1 1 0;
}

.alignment-container {
    border: 1px dashed #999;
    padding: 10px;
}
.alignment-container + .alignment-container {
    margin-left: 200px;
}
#alignment-container-1 {
    width: 400px;
}

#alignment-container-2 {
    width: 400px;
}

#big-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 700px;
    padding: 10px;
}

.right-aligned,
.right-aligned button {
    float: right;
}

#big-container p {
    flex-grow: 3;
}

#big-container > div {
    flex-grow: 1;
}

#mid-container {
    position: relative;
    overflow: hidden;
    width: 300px;
    padding: 5px;
    flex: none;
}
.small-container {
    overflow: hidden;
    position: relative;
    padding: 5px;
}

#confined-container {
    width: 700px;
    padding: 10px;
    display: flex;
}
#confined-container article {
    position: relative;
    overflow: hidden;
    width: 80px;
    padding: 5px;
    flex: none;
}
#confined-container aside {
    overflow: hidden;
    position: relative;
    padding: 5px;
}

/* until we decorate the demo pages properly with page component, override the demo styles */
/* extras for demo */
.aui-dropdown2-trigger-group {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.aui-dropdown2-trigger-group > li {
    display: inline-block;
}

#dropdown2-test-custom-width {
    min-width: 240px;
    max-width: 480px;
}

.aui-dropdown2-checkbox:after,
.aui-dropdown2-radio:after {
    content: ' (aria-checked:' attr(aria-checked) ')';
}
.aui-dropdown2 li .disabled:after {
    content: ' (aria-disabled:' attr(aria-disabled) ')';
}
.debug .aui-dropdown2:after {
    content: ' (aria-hidden:' attr(aria-hidden) ')';
}
.debug .aui-dropdown2-trigger:after {
    content: ' (aria-owns:' attr(aria-owns) ' aria-haspopup:' attr(aria-haspopup) ')';
}

#container {
    width: 50%;
    background: #eee;
    margin: 0 auto;
    border: 1px dashed black;
}
.test-left {
    text-align: left;
}
.test-right {
    text-align: right;
}
.test-forced-width {
    min-width: 500px !important;
    max-width: 700px !important;
}

.aui-dropdown2-trigger.aui-test-triggerwidth {
    padding: 5px 8px;
    text-decoration: none;
}
.aui-dropdown2-trigger.aui-test-triggerwidth:hover,
.aui-dropdown2-trigger.aui-test-triggerwidth:focus,
.aui-dropdown2-trigger.aui-test-triggerwidth.active {
    background-color: #333;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
}
.aui-dropdown2-trigger.aui-test-triggerwidth.active {
    border-radius: 4px 4px 0 0;
}

.aui-dropdown2-trigger.aui-test-triggerwidth[aria-disabled='true'],
.aui-dropdown2-trigger.aui-test-triggerwidth[aria-disabled='true']:hover,
.aui-dropdown2-trigger.aui-test-triggerwidth[aria-disabled='true']:focus,
.aui-dropdown2-trigger.aui-test-triggerwidth[aria-disabled='true']:active {
    background: inherit;
    color: #ccc; /* equivalent of opacity: 0.5 */
    cursor: default;
}

.test-ie-threshold1 {
    right: 18px;
    position: absolute;
}

body {
    font: 14px/20px sans-serif !important;
}

#inline-links li {
    display: inline-block;
    margin: 0 1em;
}
