html {
    --atl-theme-header-logo-image: url('../../../../../common/img/logos/logo-gradient-blue-bamboo.svg');
}

.test-header {
    border: 2px solid black;
    position: relative;
    margin: 1rem;
    padding: 0 2rem;
}

.aui-header-logo-device {
    width: 109px;
}

.color-preview {
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
}

.color-preview.uncustomized {
    opacity: 10%;
}

.preset-colors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.preset-colors label {
    margin-right: 0.5rem;
}

.preset-colors .preset-color-wrapper {
    margin-right: 1rem;
}

iframe {
    width: 100%;
    height: 9rem;
}

/* This css structure is copied from the way Bamboo styles the active "tabs" which don't actually
   use the AUI tab component. */
html[data-color-mode] {
    --bamboo-lf-tab-color: var(
        --atl-theme-header-bg-color-tinted-contrasting,
        var(--aui-tabs-tab-active-text-color)
    );

    .aui-header-primary > .aui-nav > li.selected.simulated-bamboo-selected-tab > a {
        &:not(.aui-button) {
            position: relative;
            color: var(--bamboo-lf-tab-color);

            &:hover:not(.active) {
                color: var(--bamboo-lf-tab-color);

                &::before {
                    color: var(--bamboo-lf-tab-color);
                }
            }

            &::after {
                background: var(--bamboo-lf-tab-color);
                bottom: -13px;
                content: '';
                display: block;
                height: 3px;
                left: 5px;
                position: absolute;
                right: 5px;
                width: initial;
                z-index: 1;
                top: unset;
            }

            &::before {
                color: var(--bamboo-lf-tab-color);
            }
        }
    }
}
