h2 {
    margin-bottom: 12px;
}

h3 {
    margin-top: 4px;
    margin-bottom: 8px;
}

code {
    background-color: var(--aui-label-bg-color);
    border-radius: 3.01px;
    color: var(--aui-label-text-color);
    font-weight: normal;
    font-size: 85%;
    padding: 0.2em 0.4em;
}

label {
    margin-right: 8px;
}

.aui-expander-trigger {
    margin-top: 16px;
}

.section-content {
    margin: 12px 0;
    padding: 16px 12px 8px;
    background-color: #fafafa;
}

.select-value {
    margin-top: 16px;
    padding: 8px 4px;
    background: rgba(0, 0, 0, 0.1);
}

.user-picker-container,
.custom-styling-container {
    border: 1px solid red;
}

.custom-styling-dropdown {
    background: blue !important;
}

.actions-wrapper {
    margin-top: 12px;
}
