@import (reference) '../theme';

@aui-progress-tracker-current-step-color: var(--aui-progress-tracker-current-step-color);
@aui-progress-tracker-current-step-text-color: var(--aui-progress-tracker-current-step-text-color);
@aui-progress-tracker-visited-step-text-color: var(--aui-progress-tracker-visited-step-text-color);
@aui-progress-tracker-visited-step-hover-text-color: var(
    --aui-progress-tracker-visited-step-hover-text-color
);
@aui-progress-tracker-visited-step-active-text-color: var(
    --aui-progress-tracker-visited-step-active-text-color
);
@aui-progress-tracker-step-color: var(--aui-progress-tracker-future-step-color);
@aui-progress-tracker-step-text-color: var(--aui-progress-tracker-future-step-text-color);
