@import (reference) '../theme';

@aui-tabs-tab-border-color: var(--aui-tabs-tab-border-color);
@aui-tabs-tab-text-color: var(--aui-tabs-tab-text-color);

@aui-tabs-tab-hover-text-color: var(--aui-tabs-tab-hover-text-color);

@aui-tabs-tab-active-border-color: var(--aui-tabs-tab-active-border-color);
@aui-tabs-tab-active-text-color: var(--aui-tabs-tab-active-text-color);

@aui-tabs-font-size: @aui-font-size-medium;

@aui-tab-padding-x: @aui-grid;
@aui-tab-padding-y: (@aui-grid / 2);
@aui-tab-break-height: 2px;
@aui-tabs-tab-border-radius: @aui-border-radius-small;
