<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>

        <link rel="stylesheet" href="https://unpkg.com/@atlassian/aui/dist/aui/aui-prototyping.css" media="all">
        <link rel="stylesheet" href="/styles/index.css" media="all">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://unpkg.com/@atlassian/aui/dist/aui/aui-prototyping.js"></script>
    </head>
    <body class="aui-page-hybrid">
        <div id="page">
            <header id="header" role="banner">
                <nav class="aui-header aui-dropdown2-trigger-group" aria-label="site" data-aui-responsive="true">
                    <div class="aui-header-inner">
                        <div class="aui-header-primary">
                            <span id="logo" class="aui-header-logo aui-header-logo-textonly">
                                <a href="/"><span class="aui-header-logo-device">AUI</span></a>
                            </span>
                            <ul class="aui-nav">
                                <li>
                                    <a
                                        class="aui-dropdown2-trigger"
                                        aria-controls="documentation-dropdown"
                                        aria-haspopup="true"
                                        href="#documentation-dropdown"
                                    >
                                        Documentation
                                    </a>
                                </li>
                                <li>
                                    <a
                                        class="aui-dropdown2-trigger"
                                        aria-controls="support-dropdown"
                                        aria-haspopup="true"
                                        href="#support-dropdown"
                                    >
                                        Support
                                    </a>
                                </li>
                                <li class="aui-version-picker-container">
                                    <a
                                        class="aui-dropdown2-trigger"
                                        aria-owns="versions-dropdown"
                                        aria-haspopup="true"
                                        href="#"
                                    >
                                        Versions
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            {{{ contents }}}
            <footer id="footer" role="contentinfo">
                <section class="footer-body">
                    <div>Copyright &#169; 2009-<script>document.write(new Date().getUTCFullYear());</script> Atlassian</div>
                    <div id="footer-logo"><a href="https://www.atlassian.com/">Atlassian</a></div>
                </section>
            </footer>
        </div>

        <aui-dropdown-menu id="documentation-dropdown">
            <aui-section label="Documentation">
                <aui-item-link href="/aui/latest/docs">Components guide</aui-item-link>
                <aui-item-link href="/aui/latest/docs/upgrade-guide.html">Upgrade guide</aui-item-link>
            </aui-section>
        </aui-dropdown-menu>

        <aui-dropdown-menu id="support-dropdown">
            <aui-section label="Support">
                <aui-item-link href="/aui/latest/docs/getting-started.html">Getting started</aui-item-link>
                <aui-item-link href="/aui/latest/docs/faq.html">FAQ</aui-item-link>
                <aui-item-link href="{{communityHelpLink}}">Ask a question</aui-item-link>
            </aui-section>
        </aui-dropdown-menu>

        <aui-dropdown-menu id="versions-dropdown">
            <div class="aui-dropdown2-section">
                <a href="aui/archive.html">Older versions</a>
            </div>

            <div class="aui-dropdown2-section">
                <a href="https://bitbucket.org/atlassian/aui/src/{{ patchVersion }}/CHANGELOG.md">Changelog</a>
            </div>
        </aui-dropdown-menu>
    </body>
</html>
