@import (reference) '~@atlassian/aui/src/less/imports/aui-theme/theme';
@import (reference) '~@atlassian/aui/src/less/imports/aui-theme/adg/adg-colors.less';

// Mixins for the code theme
#code-theme {
    .selected(@color) {
        .CodeMirror-selected,
        &.CodeMirror-focused .CodeMirror-selected {
            background-color: @color;
        }
        .CodeMirror-line::-moz-selection,
        .CodeMirror-line > span::-moz-selection,
        .CodeMirror-line > span > span::-moz-selection {
            background-color: @color;
        }
        .CodeMirror-line::selection,
        .CodeMirror-line > span::selection,
        .CodeMirror-line > span > span::selection {
            background-color: @color;
        }
    }
    .light() {
        @import (reference) '~@atlassian/aui/src/less/imports/aui-theme/adg/adg-neutral-light.less';

        .cm-s-aui {
            &.CodeMirror {
                color: @ak-color-N800;
                background-color: @ak-color-N20;
            }

            .cm-bracket {
                color: @ak-color-N300;
            }

            .cm-variable,
            .cm-variable-2,
            .cm-variable-3,
            .cm-operator {
                color: inherit;
            }

            .cm-variable,
            .cm-variable + .cm-property,
            .cm-variable + .cm-property + .cm-property {
                color: @ak-color-P300;
            }

            .cm-header {
                color: @ak-color-T300;
            }

            .cm-keyword {
                color: @ak-color-B400;
            }

            .cm-string,
            .cm-string-2,
            .cm-atom,
            .cm-quote {
                color: @ak-color-G400;
            }

            .cm-builtin,
            .cm-qualifier,
            .cm-link {
                color: @ak-color-T300;
            }

            .cm-number {
                color: @ak-color-B400;
            }

            .cm-comment {
                color: @ak-color-N400;
            }

            .cm-meta {
                color: @ak-color-N400;
            }

            .cm-tag {
                color: @ak-color-T500;
            }
            .cm-attribute {
                color: @ak-color-T300;
            }

            .cm-invalidchar {
                color: @ak-color-R400;
            }
            .cm-negative {
                color: @ak-color-R200;
            }
            .cm-positive {
                color: @ak-color-G200;
            }

            .cm-linenumber {
                color: @ak-color-N90;
            }
        }
    }

    .dark() {
        @import (reference) '~@atlassian/aui/src/less/imports/aui-theme/adg/adg-neutral-dark.less';

        .cm-s-aui {
            &.CodeMirror {
                color: @ak-color-N800;
                background-color: @ak-color-N40;
            }

            .cm-bracket {
                color: @ak-color-N300;
            }

            .cm-variable,
            .cm-variable-2,
            .cm-variable-3,
            .cm-operator {
                color: inherit;
            }

            .cm-variable,
            .cm-variable + .cm-property,
            .cm-variable + .cm-property + .cm-property {
                color: @ak-color-P100;
            }

            .cm-header {
                color: @ak-color-T300;
                font-weight: 500;
            }

            .cm-keyword {
                color: @ak-color-B200;
                font-weight: 700;
            }

            .cm-string,
            .cm-string-2,
            .cm-atom,
            .cm-quote {
                color: @ak-color-G200;
            }

            .cm-builtin,
            .cm-qualifier,
            .cm-link {
                color: @ak-color-T300;
            }

            .cm-number {
                color: @ak-color-B200;
            }

            .cm-comment {
                color: @ak-color-N400;
            }

            .cm-meta {
                color: @ak-color-N400;
            }

            .cm-tag {
                color: @ak-color-T500;
            }
            .cm-attribute {
                color: @ak-color-T300;
            }

            .cm-invalidchar {
                color: @ak-color-R400;
            }
            .cm-negative {
                color: @ak-color-R200;
            }
            .cm-positive {
                color: @ak-color-G200;
            }

            .cm-linenumber {
                color: @ak-color-N90;
            }

            .CodeMirror-cursor {
                border-left-color: @ak-color-N900;
            }
        }
    }
}

// Some simple styles for all theme variants
.cm-s-aui {
    #code-theme.selected(rgba(@ak-color-Y500, 0.3));
    .cm-strong {
        font-weight: bold;
    }
    .cm-em {
        font-style: italic;
    }
    .cm-link {
        text-decoration: underline;
    }
    .cm-strikethrough {
        text-decoration: line-through;
    }

    @keyframes blinker {
        49% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        99% {
            opacity: 0;
        }
    }

    .CodeMirror-cursor {
        animation: blinker 1s linear infinite;
    }
}

// Implement light and dark themes
#aui-themes.switch-light-dark({
    #code-theme.light();
}, {
    #code-theme.dark();
});
