@import (reference) 'colors';

// ### Fonts
// Stacks
@aui-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
@aui-font-family-ja: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo,
    'ＭＳ Ｐゴシック', Verdana, Arial, sans-serif;
@aui-code-font-family: 'SFMono-Medium', 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Mono',
    Menlo, Courier, monospace;

// Sizes and line heights
@aui-font-size-xxxlarge: 29px;
@aui-font-size-xxlarge: 24px;
@aui-font-size-xlarge: 20px;
@aui-font-size-large: 16px;
@aui-font-size-medium: 14px;
@aui-font-size-small: 12px;
@aui-font-size-xsmall: 11px;

@aui-font-letter-spacing: 0;

@aui-font-weight-lighter: 300;
@aui-font-weight-normal: 400;
@aui-font-weight-medium: 500;
@aui-font-weight-semibold: 600;
@aui-font-weight-bold: 700;

// ### Colours
// Body copy
@aui-text-color: var(--aui-body-text);

// Less important copy
@aui-lesser-text-color: var(--aui-lesser-body-text);
@aui-footer-body-text-color: var(--aui-lesser-body-text);
@aui-footer-body-link-text-color: var(--aui-lesser-body-text);

// Abbreviations
@aui-abbr-border-color: var(--aui-lesser-body-text);

// Quotations
@aui-blockquote-text-color: var(--aui-lesser-body-text);
@aui-quote-text-color: var(--aui-lesser-body-text);
