---
component: AUI 8 upgrade guides
pageCategory: upgrade
analytics:
  pageCategory: upgrade-guide
  component: all
---

<aui-docs-contents></aui-docs-contents>

<style>
    .wrm-key {
        font-size: smaller;
    }
</style>


<h2 id="8.5-to-8.6">Upgrading from 8.5 to 8.6</h2>
<p>
    <code>aui-toggle</code> component is no longer triggering <code>change</code> event when property is changed programmatically.
</p>
<p>
    Developers can manually trigger a <code>change</code> event if they really, really want to, and are willing to handle the potential infinite loop cases themselves.
</p>

<h2 id="8.4-to-8.5">Upgrading from 8.4 to 8.5</h2>
<h3 id="8.5-form-fields">Form fields</h3>

<p>
    A range of HTML markup patterns for form radio and checkbox fields were rendering
    incorrectly in AUI 8.4, caused by the approach taken to style them.
    When using a pure-CSS solution, some markup patterns would end up with invisible checkbox or radio glyphs.
    The problem was tracked as <a href="https://ecosystem.atlassian.net/browse/AUI-5053">AUI-5053</a>.
</p>

<p>
    The compromise was to add an additional explicit element via JavaScript and style that in AUI 8.5.
    The &lt;input&gt; elements are visually hidden, and the new element is rendered to appear as a faux form field glyph.
    This has implications for automated testing frameworks.
</p>

<p>
    Selenium attempts to emulate what a real user would be able to do, so Selenium doesn't interact with hidden elements.
    However, users are able to interact with these faux form fields correctly.
    Mouse and screen-reader users can click the &lt;label&gt; element, which will focus and affect the &lt;input&gt;.
    Keyboard users can still focus the &lt;input&gt; element and interact with it directly.
</p>

<p>
    If you are using automated testing frameworks, you can adapt to the new form field styles in one of three ways:
</p>

<ul>
    <li>
        Update your tests to interact with the field’s &lt;label&gt; rather than the &lt;input&gt; element directly.
        Interacting with the label has the added benefit of testing that your forms are accessible to screen reader
        users, since it demonstrates the DOM has a link between the two.
    </li>
    <li>
        Use one of your testing tool's lower-level programmatic APIs to find the &lt;input&gt; element and click it.
        For example, the following Java code can be used to control Selenium:
        <code><pre>
WebElement el = driver.findElement(By.id("visually-hidden-input"));

// this doesn't work out...
el.click();
// throws in webdriver 2 with something like "cannot click because another element is in the way"
// throws in webdriver 3 with "cannot scroll element in to view"

// this sometimes works out...
(new Actions(driver)).moveToElement(el).click().perform();
// works in webdriver 3 on zero-opacity, negative z-index, and clip-hacked elements ...
// fails in webdriver 3 if the element was clipped outside an overflow boundary.
// fails in webdriver 2

// this seemingly always works out...
((JavaScriptExecutor)driver).executeScript("arguments[0].click();", el);
// works in webdriver 3
// works in webdriver 2
        </pre></code>
    </li>
    <li>
        During tests, override AUI’s CSS rule for hiding &lt;input&gt; fields, so your testing tool's default
        behaviours will continue to work.
        <code><pre>
form.aui:not(.aui-legacy-forms) .checkbox input[type=checkbox],
form.aui:not(.aui-legacy-forms) .radio input[type=radio] {
    position: static;
    width: auto;
    height: auto;
    clip: unset;
}
        </pre></code>
        (Note that changing styles may invalidate any visual regression screenshots you are taking!)
    </li>
</ul>

<p>
    When following any of these approaches, it is recommended you wrap them in an abstraction
    &mdash; <a href="https://www.selenium.dev/documentation/en/guidelines_and_recommendations/page_object_models/">such as a "page object"</a> &mdash;
    so that tests can describe what they're testing, and the abstraction can handle the how.
</p>

<h2 id="8.3-to-8.4">Upgrading from 8.3 to 8.4</h2>
<p>AUI 8.4.0 updates the style of form fields</p>
<h3 id="8.4-forms">Form styles</h3>
<p>
    The form fields styles are updated to match ADG3. The biggest change is in input's background and borders.
    We aimed for forms and form fields dimensions to stay the same.
</p>

<p>
    We provide toggle for enabling legacy styles if you have a need for that.
    To enable legacy styles add <code>.aui-legacy-forms</code> class to <code>form</code> element.
</p>

<h4 id="8.4-form-aesthetic">Form field aesthetic changes</h4>

<p>The following differences exist between the old and new form field aesthetic:</p>

<table class="aui">
    <colgroup>
        <col />
        <col style="width: 40%;" />
        <col style="width: 40%;" />
    </colgroup>
    <thead>
    <tr>
        <th>Aspect</th>
        <th>Old properties</th>
        <th>New properties</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Plain text input fields</th>
        <td>
            <ul>
                <li>1px border</li>
                <li><code>#c1c7d0</code> border at rest</li>
                <li><code>#ffffff</code> background at rest</li>
                <li><code>#ffffff</code> background when focussed</li>
                <li><code>#97a0af</code> background when disabled</li>
                <li>Operating System handles focus ring when focussed</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>2px border</li>
                <li><code>N40 (#dfe1e6)</code> border at rest</li>
                <li><code>N10 (#fafbfc)</code> background at rest</li>
                <li><code>N0 (#ffffff)</code> background when focussed</li>
                <li><code>N80 (#97a0af)</code> <strong>background and border</strong> when disabled</li>
                <li>Border colour serves as focus ring when focussed</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th scope="row">Select fields</th>
        <td>
            <ul>
                <li>1px border</li>
                <li><code>#c1c7d0</code> border at rest</li>
                <li><code>#ffffff</code> background at rest</li>
                <li><code>#ffffff</code> background when focussed</li>
                <li><code>#97a0af</code> background when disabled</li>
                <li>Operating System handles focus ring when focussed</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>2px border</li>
                <li><code>N30 (#ebecf0)</code> <strong>background and border</strong> at rest</li>
                <li><code>N0 (#ffffff)</code> background when focussed</li>
                <li><code>N80 (#97a0af)</code> <strong>background and border</strong> when disabled</li>
                <li><code>#97a0af</code> text when disabled</li>
                <li>Border colour serves as focus ring when focussed</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th scope="row">Checkbox and radio fields</th>
        <td>
            <ul>
                <li>Operating System handles rendering of field UI</li>
                <li>Operating System handles focus ring when focussed</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>CSS pseudo-element renders UI inside field's <var>&lt;label&gt;</var> element</li>
                <li>Border colour serves as focus ring when focussed</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th scope="row">Field labels</th>
        <td>
            <ul>
                <li>400 font weight</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>500 font weight</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th scope="row">Field-specific descriptions</th>
        <td>
            <ul>
                <li>12px text, 20px effective height</li>
                <li>
                    Appeared either underneath the field in a <code>.description</code> container, or in an inline dialog
                    that appeared when the field was focussed
                </li>

            </ul>
        </td>
        <td>
            <ul>
                <li>11px text, 20px effective height</li>
                <li>Always appear underneath the field as plain-text in a <code>.description</code> container</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th scope="row">Field-specific errors</th>
        <td>
            <ul>
                <li>
                    Appeared either underneath the field in an <code>.error</code> container, or in an inline dialog
                    that appeared when the field was focussed
                </li>
                <li>
                    Field is shown to be in error either by plain-text below
                    or red icon in the right margin of the field
                </li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Always appear underneath the field as plain-text in an <code>.error</code> container</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<p>
    These changes effectively bring the aesthetic of dropdown items in line with the treatment
    given to items in AUI's vertical navigation pattern.
</p>

<h4 id="8.4-form-notification">Form field notifications</h4>

<p>
    AUI's <a href="{{rootPath}}docs/form-notifications.html">form notifications</a>
    &mdash; the pattern of placing an icon within the right margin of a form field
    and showing an inline dialog when focussing the field &mdash;
    are now displayed as plain text descriptions below the field.
    The icon is now redundant, so has been removed from form fields when notifications are shown.
</p>

<p>
    We have deprecated <code>data-aui-notification-field</code> attributes in favour of using a plain HTML markup
    instead.
</p>

<table class="aui">
    <thead>
    <tr>
        <th>Old API</th>
        <th>New API</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <aui-docs-example live-demo>
                <noscript is="aui-docs-code" type="text/html">
                    <form class="aui">
                        <div class="field-group">
                            <label for="demo-info-message">Input with an info notification</label>
                            <input id="demo-info-message"
                                   class="text"
                                   type="text"
                                   data-aui-notification-field
                                   data-aui-notification-info="Choose a username at least 6 characters long." />
                        </div>
                    </form>
                </noscript>
            </aui-docs-example>
        </td>
        <td>
            <aui-docs-example live-demo>
                <noscript is="aui-docs-code" type="text/html">
                    <form class="aui">
                        <div class="field-group">
                            <label for="demo-info-message">Input with an info notification</label>
                            <input id="demo-info-message" class="text" type="text" />
                            <div class="description">
                                <p>Choose a username at least 6 characters long.</p>
                            </div>
                        </div>
                    </form>
                </noscript>
            </aui-docs-example>
        </td>
    </tr>
    <tr>
        <td>
            <aui-docs-example live-demo>
                <noscript is="aui-docs-code" type="text/html">
                    <form class="aui">
                        <div class="field-group">
                            <label for="demo-info-message">Input with multiple error notifications</label>
                            <input id="demo-info-message"
                                   class="text"
                                   type="text"
                                   data-aui-notification-field
                                   data-aui-notification-error='["This field has a problem.","In fact, it has two problems."]' />
                        </div>
                    </form>
                </noscript>
            </aui-docs-example>
        </td>
        <td>
            <aui-docs-example live-demo>
                <noscript is="aui-docs-code" type="text/html">
                    <form class="aui">
                        <div class="field-group">
                            <label for="demo-info-message">Input with multiple error notifications</label>
                            <input id="demo-info-message" class="text" type="text" />
                            <div class="error">
                                <ul>
                                    <li>This field has a problem.</li>
                                    <li>In fact, it has two problems.</li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </noscript>
            </aui-docs-example>
        </td>
    </tr>
    </tbody>
</table>


<h4 id="8.4-forms-general-advice">General upgrade advice</h4>
<p>Things to be aware of:</p>
<ul>
    <li>
        If you have any overrides for base form styles they may have stopped working as we changed styles during the
        update.
    </li>
    <li>
        We use <code>:not(.aui-legacy-forms)</code> for new styles and <code>.aui-legacy-forms</code> for legacy ones.
        This increases all specificity by one class.
    </li>
</ul>
<p>
    Because of this you should either:
</p>
<ul>
    <li>Remove any CSS overrides you may have made to AUI’s forms markup pattern.</li>
    <li>Adjust your CSS overrides to handle both the :not(.aui-legacy-forms) and .aui-legacy-forms variants of the pattern.</li>
</ul>
<p>
    When building for multiple products or multiple versions of a product you should remove your overrides, as ability to detect and address the correct version of the product is minimal.
</p>

<h3 id="8.4-focus">Focus rings</h3>
<p>
    As a part of forms refresh we added focus rings to focused elements.
</p>
<p>
    Depending on your markup and CSS some of our focus rings can be clipped. Look for overflow: hidden, position: absolute and z-index in our code for possible source of problems.
    We provide a css toggle to turn new styles off. To do this add <code>.aui-legacy-focus</code> class to <code>body</code> element.
</p>

<h2 id="8.2-to-8.3">Upgrading from 8.2 to 8.3</h2>
<p>AUI 8.3.0 updates the style of messages and lozenges</p>

<h3 id="8.3-messages">Messages design</h3>
<p>
    The new style of messages is based on Section Messages from Atlaskit.
    This aims to bring ADGS closer to ADG3.
    Borders are removed and type of message is now reflected by it's background instead.
</p>

<h3 id="8.3-lozenges">Lozenges design</h3>
<p>
    Text and background colors of both standard and subtle lozenges were updated and aligned with ADG3.
    We've also aligned the names with Atlaskit introducing <strong>in progress</strong> and <strong>removed</strong>
    lozenges as a replacement for <strong>current</strong> and <strong>error</strong>.
</p>

<h2 id="8.x-to-8.2">Upgrading from 8.x to 8.2</h2>
<p>
    This release is all about improving how layered elements work.
    Most of our layered elements &mdash;
    <a href="{{rootPath}}docs/dialog2.html">Dialog</a>,
    <a href="{{rootPath}}docs/dropdown2.html">Dropdown</a>,
    <a href="{{rootPath}}docs/inline-dialog2.html">Inline dialog</a>,
    <a href="{{rootPath}}docs/in-product-help.html">Feature discovery dialogs</a>
    <a href="{{rootPath}}docs/auiselect2.html">Select 2</a>,
    and
    <a href="{{rootPath}}docs/single-select.html">Single select</a>
    &mdash; have been adjusted to improve where they render on the page and how they stack.
</p>

<p>
    While there are no public API changes to these components, some of their implementation details
    have changed and may need your attention when upgrading to this version.
</p>

<h3 id="8.2-layering-behaviour">AUI layering behaviour</h3>

<p>
    The previous layering and alignment behaviours were provided by <a href="http://tether.io/">Tether.js</a>.
    We have replaced this library with <a href="https://popper.js.org/">Popper.js</a>.
</p>

<p>
    Our layers were previously positioned synchronously upon the layered element being shown. With this update,
    layers are now positioned asynchronously in a <code>requestAnimationFrame</code> callback.
</p>

<p>
    Our layered elements would previously receive CSS classes starting with <var>aui-alignment-element-attached-</var>
    and <var>aui-alignment-target-attached-</var>. These CSS classes were an implementation detail
    of Tether, and are no longer added.
    <br />
    CSS classes starting with <var>aui-alignment-side-</var> and <var>aui-alignment-snap-</var> are still available.
</p>

<h2 id="7.9.x-to-8.0">Upgrading from 7.9.x to 8.0</h2>
<p>
    The AUI 8.0 release aims to achieve a few key things:
</p>
<ul>
    <li>Make it easier to consume only the pieces of AUI that you need.</li>
    <li>Re-evaluate what you get "by default" when importing AUI.</li>
    <li>Remove dead and deprecated code.</li>
    <li>Upgrade external library dependencies.</li>
</ul>
<p>
    The release includes major backwards-incompatible changes to AUI.
</p>
<p>
    All distributions of AUI are affected by this release.
    Some distributions have changed shape, others have been removed or rebuilt from the ground up.
</p>

<h3 id="8.0-architectural-changes">Major changes</h3>

<p>
    The "core" and "experimental" concepts were removed from AUI.
    These concepts referred to API stability and component maturity,
    but were enshrined in many parts of AUI &mdash; from its documentation through to
    its distribution bundle filenames.
    <br/>
    Splitting AUI in this way often left consumers with little choice but to include all of
    AUI's bundles in their production application, since
    they could not specify what it was they actually needed.
</p>

<h4 id="8.0-packaging">AUI packaging</h4>

<p>
    AUI 8.0 changes how the library is composed and distributed.
</p>

<ul>
    <li>The library will be de-composed in to multiple Node packages over time.</li>
    <li>
        Long-deprecated components will be delivered as separate Node packages and unbundled
        from the main AUI package.
    </li>
    <li>
        The "experimental" concept is gone from AUI. Instead, components under test will be delivered
        as separate Node packages.
    </li>
    <li>
        The "core" concept is gone from AUI. Instead, the various bundles of AUI
        &mdash; both in Node and in the Atlassian Plugin &mdash; will include fewer
        components by default.
    </li>
</ul>

<h4 id="8.0-jquery-ui">AUI dependencies</h4>

<p>
    Explicit dependencies on the pieces of AUI that are actually needed is encouraged over
    inheriting components or behaviours as a side-effect.
</p>

<h5>jQuery and jQuery UI</h5>
<h6>New minimum versions</h6>
<ul>
    <li>The minimum required version of jQuery is now 2.x, up from 1.7.2.</li>
    <li>The version of jQuery UI that AUI uses has been bumped to 1.12.1.</li>
</ul>
<p>
    If you are upgrading from jQuery 1.7.x or 1.8.x, you will need to be aware of the changes and removals
    that jQuery made in 1.9.x and beyond. See the <a href="https://jquery.com/upgrade-guide/1.9/">jQuery 1.9 upgrade guide</a>
    for more details.
</p>
<p>
    Several features of jQuery were removed and externalised in the jQuery migrate plugin.
    Some of these features have been "fixed" or otherwise had their behaviours changed after being
    externalised in jQuery migrate, such as <var>jQuery.browser</var>.
    <br/>
    You will need to need to audit your usage of jQuery APIs that were removed before jQuery 2.x,
    pulling in jQuery migrate if necessary, and ensure that your code works with the new behaviours.
</p>
<h6>API status</h6>
<p>
    AUI considers jQuery and jQuery UI to be a deprecated implementation detail of its components
    and are not considered part of AUI's public API.
</p>
<p>
    jQuery UI is a combination of several behavioural utilities, interface components,
    and effects. Though useful, it is a painful set of code to pull in and depend upon, since it fundamentally relies
    upon mutating a shared global object and encourages implicit dependencies that are hard to trace.
</p>
<p>
    In AUI 8.0, all of jQuery UI's interface components have been removed from AUI. Developers depending upon jQuery
    UI interface components should either use the equivalent AUI component, or import the specific jQuery UI components
    they need within their own application's dependency graph.
</p>
<p>
    In AUI 8.0, several parts of jQuery UI may still be added to the <var>window.jQuery</var> object,
    though this is considered an unintentional side-effect. Future versions of AUI may remove all usage of jQuery UI.
</p>

<h5>Backbone and Underscore</h5>
<h6>New minimum versions</h6>
<ul>
    <li>Backbone has been bumped to 1.3.3, up from 1.1.2.</li>
    <li>Underscore has been bumped to 1.9.1, up from 1.6.0.</li>
</ul>
<p>
    Refer to the <a href="https://backbonejs.org/#changelog">Backbone changelog</a>
    for a list of behavioural and API changes in Backbone.
</p>
<p>
    Refer to the <a href="https://underscorejs.org/#changelog">Underscore changelog</a>
    for a list of behavioural and API changes in Underscore.
</p>
<h6>API status</h6>
<p>
    AUI considers Backbone and Underscore to be a deprecated implementation detail of its components
    and are not considered part of AUI's public API.
</p>
<p>
    Backbone and Underscore are not added to window by AUI any more by default.
    If you depend on these libraries, you must pull in your own.
</p>
<p>
    In Atlassian plugins, it is possible to add them to the window by explicitly requiring their web-resource
    keys, though this approach is deprecated and will be removed in AUI 9.0.
</p>

<h4 id="8.0-removed-components">AUI components removed</h4>

<p>
    Three of AUI's oldest components &mdash; Dialog 1, Dropdown 1, and Inline Dialog 1 &mdash; are no longer bundled
    with AUI from AUI 8 onwards. Each of these components has a more modern equivalent, which is where performance,
    accessibility, and usability improvement efforts are made.
</p>

<p>
    There are upgrade guides for each component to migrate from the old component APIs to the new ones:
</p>

<ul>
    <li>
        <a href="{{rootPath}}docs/upgrades/dialog2.html">
            Dialog 1 &rarr; Dialog 2
        </a>
    </li>
    <li>
        <a href="{{rootPath}}docs/upgrades/dropdown-menu-component.html">
            Dropdown 1 &rarr; <var>&lt;aui-dropdown-menu&gt;</var>
        </a>
    </li>
    <li>
        <a href="{{rootPath}}docs/upgrades/inline-dialog-component.html">
            Inline Dialog 1 &rarr; <var>&lt;aui-inline-dialog&gt;</var>
        </a>
    </li>
</ul>

<p>
    For Node package consumers, these removed components will be made available through their own Node packages,
    independent of AUI.
</p>

<p>
    For Atlassian plugin consumers, the components are still available through deprecated web-resource keys.
    These keys will be removed in AUI 9.0, at which time it will be the responsibility of consumers to
    have either migrated their usage of these components to their modern equivalents, or added the components
    to their products via the Node packages.
</p>

<h3 id="8.0-library-changes">AUI library changes</h3>

<h4 id="8.0-js-changes">JS changes</h4>
<table class="aui">
    <thead>
    <tr>
        <th>Change</th>
        <th>Alternative</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>AJS()</code> has been removed.</td>
        <td>
            <p>Use jQuery or native browser APIs to create DOM elements. For example:</p>
            <ul>
                <li>
                    Change <code>AJS("div")</code> to <code>document.createElement("div")</code>,
                    or <code>jQuery("&lt;div>&lt;/div>")</code>,
                    or any other templating solution.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><code>window.AJS</code> is now an object, not a function.</td>
        <td>
            <p>
                <code>AJS</code> can't be used as a proxy for the document object,
                for example when triggering or listening to events.
            </p>
            <p>In previous versions of AUI:</p>
            <ul>
                <li><code>$(AJS).bind</code> and <code>$(document).bind</code> were equivalent.</li>
                <li><code>$(AJS).trigger</code> and <code>$(document).trigger</code> were equivalent.</li>
            </ul>
            <p>
                In AUI 8, passing <code>AJS</code> in to jQuery creates an isolated event bus,
                whose events will not propagate to the DOM.
            </p>
            <p>Review your usage of <code>$(AJS).bind</code> and <code>$(AJS).trigger</code>.</p>
        </td>
    </tr>
    <tr>
        <td><code>AJS.toInit(&lt;Function&gt;)</code> will always run the function asynchronously.</td>
        <td>
            <p>
                The order in which your initialisation functions will run may change, which may invalidate
                implicit assumptions in your code.
            </p>
            <p>
                Review your usage of all patterns of handling "document ready". Pick one code pattern.
            </p>
            <p>
                If you need to ensure your initialisations occur in a specific order, we recommend
                sharing a reference to a <code>Promise</code> object between the initialisation modules
                and executing when it is resolved.
            </p>
        </td>
    </tr>
    <tr>
        <td>The following functions have been removed from AUI's <code>browser</code> module:
            <ul>
                <li><code>supportsRequestAnimationFrame</code></li>
                <li><code>supportsCssTransition</code></li>
                <li><code>supportsCalc</code></li>
                <li><code>supportsNewMouseEvent</code></li>
            </ul>
        </td>
        <td>
            AUI 8's supported browsers (IE 11 and higher) support these behaviours natively,
            so feature detection should not be necessary.
        </td>
    </tr>
    <tr>
        <td>The following jQuery plugins have been removed from AUI:
            <ul>
                <li><code>$.os</code></li>
                <li><code>$.fn.autocomplete</code></li>
                <li><code>$.fn.isDirty</code></li>
                <li><code>$.fn.progressBar</code></li>
                <li><code>$.fn.selection</code></li>
                <li><code>$.fn.selectionRange</code></li>
                <li><code>$.fn.wrapSelection</code></li>
            </ul>
        </td>
        <td>Projects that depend on these jQuery plugins should bundle them independently.</td>
    </tr>
    <tr>
        <td><code>AJS.bindEvt</code>, <code>AJS.triggerEvt</code>, and <code>AJS.triggerEvtForInst</code> have been removed.</td>
        <td>No alternative will be provided.</td>
    </tr>
    <tr>
        <td><code>AJS.contains</code> has been removed.</td>
        <td>
            No alternative will be provided.
            Use <code>Array.prototype.indexOf</code> instead.
            If your project does not support IE11, you can use <code>Array.prototype.includes</code> instead.
        </td>
    </tr>
    <tr>
        <td><code>AJS.firebug</code> and <code>AJS.warnAboutFirebug</code> have been removed.</td>
        <td>No alternative will be provided.</td>
    </tr>
    <tr>
        <td><code>AJS.filterBySearch</code> has been removed.</td>
        <td>No alternative will be provided. If products require this function, this should be copied.</td>
    </tr>
    <tr>
        <td><code>AJS.include</code> has been removed</td>
        <td>Use a proper module loader instead.</td>
    </tr>
    <tr>
        <td><code>AJS.indexOf</code> has been removed.</td>
        <td>No alternative will be provided. Use <code>Array.prototype.indexOf</code> instead.</td>
    </tr>
    <tr>
        <td><code>AJS.isVisible</code> has been removed.</td>
        <td>No alternative will be provided.</td>
    </tr>
    <tr>
        <td><code>AJS.message.template</code> has been removed.</td>
        <td>No alternative will be provided.</td>
    </tr>
    <tr>
        <td><code>AJS.onTextResize</code> and <code>AJS.unbindTextResize</code> have been removed</td>
        <td>No alternative will be provided.</td>
    </tr>
    <tr>
        <td><code>AJS.preventDefault</code> and <code>AJS.stopEvent</code> have been removed.</td>
        <td>No alternative will be provided.</td>
    </tr>
    <tr>
        <td><code>AJS.setCurrent</code> and <code>AJS.setVisible</code> have been removed.</td>
        <td>No alternative will be provided. Use jQuery.addClass() / removeClass() instead.</td>
    </tr>
    <tr>
        <td><code>AJS.toggleClassName</code> has been removed</td>
        <td>Use another approach to adding/removing a class &mdash; for example, jQuery.</td>
    </tr>
    </tbody>
</table>

<h4 id="8.0-css-changes">CSS changes</h4>

<h5>Un-prefixed AUI message classes have been removed</h5>
<table class="aui">
    <thead>
    <tr>
        <th>Removed class</th>
        <th>Alternative</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>.success</td>
        <td>.aui-message-success</td>
    </tr>
    <tr>
        <td>.hint</td>
        <td>.aui-message-hint</td>
    </tr>
    <tr>
        <td>.warning</td>
        <td>.aui-message-warning</td>
    </tr>
    <tr>
        <td>.info</td>
        <td>.aui-message-info</td>
    </tr>
    <tr>
        <td>.error</td>
        <td>.aui-message-error</td>
    </tr>
    </tbody>
</table>

<h5>Old "messages" icons CSS classes have been removed</h5>
<ul>
    <li><code>.aui-icon-success</code></li>
    <li><code>.aui-icon-warning</code></li>
    <li><code>.aui-icon-info</code></li>
    <li><code>.aui-icon-error</code></li>
    <li><code>.aui-icon-hint</code></li>
    <li><code>.aui-icon-generic</code></li>
    <li><code>.icon-generic</code></li>
    <li><code>.icon-error</code></li>
    <li><code>.icon-hint</code></li>
    <li><code>.icon-info</code></li>
    <li><code>.icon-success</code></li>
    <li><code>.icon-warning</code></li>
</ul>
<p>Use iconfont icons as a replacement</p>

<h5>Old "gadget" icons CSS classes have been removed</h5>
<ul>
    <li><code>.icon-dropdown</code></li>
    <li><code>.icon-dropdown-active</code></li>
    <li><code>.icon-dropdown-active-d</code></li>
    <li><code>.icon-maximize</code></li>
    <li><code>.icon-maximize-d</code></li>
    <li><code>.icon-minimize</code></li>
    <li><code>.icon-minimize-d</code></li>
    <li><code>.icon-move</code></li>
    <li><code>.icon-move-d</code></li>
</ul>
<p>Use iconfont icons as a replacement.</p>

<h5>Icon Wait removed</h5>
<p>
    We removed <code>.aui-icon-wait</code> class and icon. You should replace it with <a href="{{rootPath}}docs/spinner.html">spinner</a>.
</p>

<h5>Vertical alignment for icons changed</h5>
<p>
    In AUI 8.0, we removed <code>vertical-align: text-top</code> from <code>.aui-icon-small</code>
    and <code>.aui-icon-large</code>.
    The alignment of some icons is wrong when text-top is used.
    Icons will be now using <code>vertical-align: text-bottom</code> which seems a more sensible default than text-top.
</p>
<p>
    Check if your icons are aligned properly and remove possible unnecessary overrides.
</p>

<h4 id="8.0-component-changes">Component changes</h4>

<h5>Restful table AJAX behaviours</h5>
<p>
    Prior to AUI 8.0, when calling <var>EntryModel#destroy</var>, the AJAX request
    would use URL parameters to pass data to the server.
</p>
<p>
    In AUI 8.0, the AJAX request now passes data in the request body.
    This makes the behaviour compatible with jQuery 2.x and jQuery 3.x.
</p>
<p>
    Consumers are advised that any URL handling or logging on the server-side that expects to see
    parameters in the URL will no longer work, and will need to be updated to consume the
    request body instead.
</p>

<h5>Restful table delete confirmation</h5>
<p>
    The docs were outdated and described <code>deleteConfirmation</code> option as boolean but the code was actually expecting callback function returning html which would be put inside Dialog1.
</p>
<p>
    We removed dependency on <code>Dialog1</code> and replaced <code>deleteConfirmation</code> option with <code>deleteConfirmationCallback</code>.
    Now we require you to provide a function returning promise. If promise is resolved row will be deleted, if rejected deletion will be prevented.
</p>

<table class="aui">
    <thead>
    <tr>
        <th>Old API</th>
        <th>New API</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <aui-docs-example>
                <noscript is="aui-docs-code" type="text/js">
                    new AJS.RestfulTable({
                        el: ...,
                        deleteConfirmation: function(model) {
                            return `<p>are you sure you want to delete ${model.id}?</p>`
                        }
                    });
                </noscript>
            </aui-docs-example>
        </td>
        <td>
            <aui-docs-example>
                <noscript is="aui-docs-code" type="text/js">
                    new AJS.RestfulTable({
                        el: ...,
                        deleteConfirmationCallback: function(model) {
                            // The delete confirmation is always asynchronous now.
                            // You can return any "then"-able object, such as
                            // a native Promise, jQuery Deferred object, etc.
                            return new Promise(function(resolve, reject) {
                                // It is now up to you to choose how to ask the user for confirmation.
                                var shouldRemove = confirm(`are you sure you want to delete ${model.id}?`);
                                if (shouldRemove) {
                                    resolve();
                                } else {
                                    reject();
                                }
                            });
                        }
                    });
                </noscript>
            </aui-docs-example>
        </td>
    </tr>
    </tbody>
</table>

<h5>Tooltips</h5>

<p>
    If you are upgrading past jQuery 1.9, your tooltips usage will require updating if they
    make use of Tipsy's <var>live</var> option. This is due to the internals of jQuery changing.
</p>

<table class="aui">
    <thead>
    <tr>
        <th>Old API</th>
        <th>New API</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <aui-docs-example>
                <noscript is="aui-docs-code" type="text/html">
                    <ul id="old-tooltip-live-binding">
                        <li><a title="The first link" href="#">First</a></li>
                        <li><a title="The second link" href="#">Second</a></li>
                        <li><a title="The third link" href="#">Third</a></li>
                    </ul>
                </noscript>
                <noscript is="aui-docs-code" type="text/js">
                    AJS.$("#old-tooltip-live-binding a").tooltip({
                        live: true
                    });
                </noscript>
            </aui-docs-example>
        </td>
        <td>
            <aui-docs-example live-demo>
                <noscript is="aui-docs-code" type="text/html">
                    <ul id="new-tooltip-live-binding">
                        <li><a title="The first link" href="#">First</a></li>
                        <li><a title="The second link" href="#">Second</a></li>
                        <li><a title="The third link" href="#">Third</a></li>
                    </ul>
                </noscript>
                <noscript is="aui-docs-code" type="text/js">
                    AJS.$(document).tooltip({
                        live: "#new-tooltip-live-binding a"
                    });
                </noscript>
            </aui-docs-example>
        </td>
    </tr>
    </tbody>
</table>

<h5>Dropdown2 Triggers</h5>

<p>
    If you are using soy templates to render the Dropdown2 trigger, there is a chance you might have an extra icon in
    HTML that will render additional spacing.
</p>

<table class="aui">
    <thead>
        <tr>
            <th>Old usage</th>
            <th>New usage</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <aui-docs-example>
                    <noscript is="aui-docs-code" type="text/soy">
                        {call aui.dropdown2.trigger}
                            {param id: 'my-trigger' /}
                            {param tagName: 'button'/}
                            {param content}
                                {call aui.icons.icon}
                                    {param useIconFont: true /}
                                    {param icon: 'more' /}
                                    {param accessibilityText: getText('bitbucket.web.branch.actions.menu.label') /}
                                {/call}
                            {/param}
                            {param extraClasses: 'aui-button aui-button-subtle aui-button-compact' /}
                            {param menu: [ 'id' : 'my-menu' ] /}
                        {/call}
                    </noscript>
                </aui-docs-example>
            </td>

            <td>
                <aui-docs-example>
                    <noscript is="aui-docs-code" type="text/soy">
                        {call aui.dropdown2.trigger}
                            {param id: 'my-trigger' /}
                            {param tagName: 'button'/}
                            {param content: ''/}
                            {param iconClasses: 'aui-icon-small aui-iconfont-more' /}
                            {param iconText: getText('bitbucket.web.branch.actions.menu.label') /}
                            {param extraClasses: 'aui-button aui-button-subtle aui-button-compact' /}
                            {param menu: [ 'id' : 'my-menu' ] /}
                        {/call}
                    </noscript>
                </aui-docs-example>
            </td>
        </tr>
    </tbody>
</table>

<h3 id="8.0-how-to-upgrade">How to handle the upgrade</h3>


<h4 id="8.0-upgrade-node-distribution">Node distribution migration</h4>

<p>
    As mentioned in the <a href="#8.0-packaging">packaging section</a>, a number of changes were made to
    how AUI is distributed. These affect the Node distribution in a significant way.
</p>

<p>
    In AUI 8.0, the Node package has been completely emptied of content. The resulting package is very small,
    but does not cover every use-case or usage scenario that the previous package may have covered incidentally.
</p>

<p>
    The AUI team are collecting information about what the Node distribution should support in the
    <a href="https://ecosystem.atlassian.net/browse/AUI-4829">AUI-4829</a> ticket.
    In future releases of AUI, the team will release other pre-built bundles, then will explore making custom
    builds of AUI possible.
</p>

<h5>Bundle changes</h5>

<table class="aui">
    <thead>
    <tr>
        <th>Removed bundle file</th>
        <th>Alternative bundle file</th>
        <th>Recommended upgrade option</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p>The "core" AUI components</p>
            <ul>
                <li><code>dist/aui/css/aui.css</code></li>
                <li><code>dist/aui/js/aui.js</code></li>
            </ul>
        </td>
        <td>
            <ul>
                <li><code>dist/aui/aui-prototyping.css</code></li>
                <li><code>dist/aui/aui-prototyping.js</code></li>
            </ul>
        </td>
        <td>
            <p>
                <span class="aui-icon aui-icon-small aui-iconfont-info-filled">Note:</span>
                The "prototyping" bundle of AUI is not intended to be used in production systems.
            </p>
            <p>
                Add a comment to
                <a href="https://ecosystem.atlassian.net/browse/AUI-4829">AUI-4829</a> noting the components
                and patterns you use.
                This will inform future efforts to build better bundles that contain only what you need.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>The "experimental" AUI components</p>
            <ul>
                <li><code>dist/css/aui.css</code></li>
                <li><code>dist/css/aui-experimental.css</code></li>
                <li><code>dist/js/aui.js</code></li>
                <li><code>dist/js/aui-experimental.js</code></li>
            </ul>
        </td>
        <td>
            <ul>
                <li><code>dist/aui-prototyping.css</code></li>
                <li><code>dist/aui-prototyping.js</code></li>
            </ul>
        </td>
        <td>
            <p>
                <span class="aui-icon aui-icon-small aui-iconfont-info-filled">Note:</span>
                The "prototyping" bundle of AUI is not intended to be used in production systems.
            </p>
            <p>
                Add a comment to
                <a href="https://ecosystem.atlassian.net/browse/AUI-4829">AUI-4829</a> noting the components
                and patterns you use.
                This will inform future efforts to build better bundles that contain only what you need.
            </p>
        </td>
    </tr>
    </tbody>
</table>

<h4 id="8.0-upgrade-atlassian-plugin">Atlassian plugin migration</h4>
<p>Your product will need to:</p>
<table class="aui">
    <thead>
    <tr>
        <th></th>
        <th>What</th>
        <th>Why</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Bundle <var>atlassian-plugins-webresource-plugin</var> version 3.6.0 or higher in your project.</td>
        <td>To make <code>WRM.require</code> and other WRM functions work.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>
            Add the following web-resource dependencies to your product superbatch or sync-batch:
            <ul>
                <li><code class="wrm-key">com.atlassian.plugins.atlassian-plugins-webresource-plugin:format</code></li>
            </ul>
        </td>
        <td>To make translations work.</td>
    </tr>
    </tbody>
</table>

<p>
    A great many web-resource keys were removed from AUI, as the code they wrapped is no longer part of the library itself.
    Some web-resource key names were changed for internal consistency.
</p>
<p>
    When upgrading, check the logs of your application as AUI is started. The WRM will list a number of deprecated
    web-resource keys and their alternatives.
</p>

<h5 id="8.0-changed-webresources">web-resource changes</h5>

<table class="aui aui-table-sortable">
    <thead>
    <tr>
        <th>Changed web-resource</th>
        <th class="aui-table-column-unsortable">Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:ajs</code></td>
        <td>
            <p>AUI's primary web-resource has been re-created and ships far less code.</p>
            <p>
                The following web-resources are no longer provided through this web-resource and must be
                depended upon explicitly:
            </p>
            <ul>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-dropdown2</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-header</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-keyboard-shortcuts</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-message</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-navigation</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-page-header</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-table</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-tabs</code></li>

                <!-- deprecated v1 components and old utilities -->
                <li><code class="wrm-key">com.atlassian.auiplugin:cookie</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:dialog</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:fancy-file-input</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:inline-dialog</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:template</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:toolbar</code></li>

                <!-- from com.atlassian.auiplugin:internal-jquery-ui-partial -->
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-data</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-draggable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-focusable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-keycode</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-plugin</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-scroll-parent</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-sortable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-widget</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-unique-id</code></li>
            </ul>
            <p>
                The following web-resources are still provided through this web-resource,
                but they <em>should</em> be depended upon explicitly:
            </p>
            <ul>
                <!-- Basic page layout stuff -->
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-reset</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-page-typography</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-page-layout</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-link</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-group</code></li>

                <!-- Gadgets base brought in jQuery and aui-core -->
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-core</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-icon</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-iconography</code></li>

                <!-- Components with available dependencies -->
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-avatar</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-event-bus</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-forms</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-toolbar2</code></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-core</code></td>
        <td>
            <p>
                AUI's "core" has been reduced in size and scope.
                In particular, it has been stripped of several deprecated utility functions.
            </p>
            <p>See the <a href="#8.0-js-changes">JS changes</a> section for more details.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:icons</code></td>
        <td>
            <p>
                AUI's icon pattern has been split from the iconography definitions.
                If you only want the icon markup pattern, you can include just "aui-icon".
            </p>
            <ul>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-icon</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-iconography</code></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<h5 id="8.0-removed-webresources">Removed web-resources</h5>

<p>
    What follows is a list of web-resource keys that are either completely removed from AUI, or will have no alternative
    going forward.
</p>

<table class="aui aui-table-sortable">
    <thead>
    <tr>
        <th>Removed web-resource</th>
        <th>Alternative web-resource(s)</th>
        <th class="aui-table-column-unsortable">Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:ajs-html5shim</code></td>
        <td><code>-</code></td>
        <td>
            <p>This polyfill was no longer needed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:ajs-zepto</code></td>
        <td><code>-</code></td>
        <td>Import Zepto through your own project, or depend upon jQuery.</td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-css</code></td>
        <td><code>-</code></td>
        <td>
            <p>
                Add dependencies on the specific components and patterns that are needed
                to render your UI.
            </p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-autocomplete-helpers</code></td>
        <td><code>-</code></td>
        <td>
            <p></p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-example</code></td>
        <td><code>-</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
            <p>Also, what was this an "example" of, exactly? Nobody knows!</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-header-rotp</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-header</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-mobile</code></td>
        <td>
            <ul>
                <li><code class="wrm-key">com.atlassian.plugins.jquery:jquery</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:ajs-underscorejs</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:ajs-backbone</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-reset</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-page-typography</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-page-layout</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-avatar</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-header-unresponsive</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-navigation</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-page-header</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-button</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-icon</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-iconography</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-forms</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-lozenge</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-message</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-table</code></li>
            </ul>
        </td>
        <td>Compose the explicit set of web-resource keys you need.</td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-page</code></td>
        <td>
            <ul>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-reset</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-page-typography</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-page-layout</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-header</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-page-header</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-module</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-navigation</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-avatar</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-badge</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-spinner</code></li>
            </ul>
        </td>
        <td>Compose the explicit set of web-resource keys you need.</td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-module</code></td>
        <td><code>-</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-module-and-header-legacy1</code></td>
        <td><code>-</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
            <p>Code marked as "deprecated" and "legacy" should not exist forever.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-page-layout-legacy1</code></td>
        <td><code>-</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
            <p>Code marked as "deprecated" and "legacy" should not exist forever.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-page-layout-typography</code></td>
        <td><code>-</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-page-layout-typography-legacy1</code></td>
        <td><code>-</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
            <p>Code marked as "deprecated" and "legacy" should not exist forever.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-progress-buttons</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-button</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
            <p>
                This particular web-resource existed to put a spinner in the button, which
                is part of the button's core behaviour.
            </p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-soy-templates-legacy1</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:soy</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
            <p>Code marked as "deprecated" and "legacy" should not exist forever.</p>
            <p>Also, how many soy resources that do exactly the same thing do you really need?</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-mobile-suite</code></td>
        <td>
            <ul>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-reset</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-page-typography</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-page-layout</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-avatar</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-header-unresponsive</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-navigation</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-page-header</code></li>
            </ul>
        </td>
        <td>Compose the explicit set of web-resource keys you need.</td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-tipsy</code></td>
        <td><code>-</code></td>
        <td>
            <p>Tipsy was an implementation detail that will change. Use AUI's tooltip component directly.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:binders</code></td>
        <td><code>-</code></td>
        <td>
            <p>This behaviour existed only to provide unneeded browser polyfills, so was no longer needed itself.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:deprecated-legacy-images</code></td>
        <td><code>-</code></td>
        <td>
            <p>Code marked as "deprecated" and "legacy" should not exist forever.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:hotkeys</code></td>
        <td><code>-</code></td>
        <td>
            <p>This plugin is an internal implementation detail of AUI's keyboard shortcuts behaviour.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:internal-aui-animation</code></td>
        <td><code>-</code></td>
        <td>
            <p></p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:internal-aui-browser</code></td>
        <td><code>-</code></td>
        <td>
            <p></p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:internal-aui-is-input</code></td>
        <td><code>-</code></td>
        <td>
            <p></p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:internal-aui-widget</code></td>
        <td><code>-</code></td>
        <td>
            <p></p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:internal-inline-dialog-common</code></td>
        <td><code>-</code></td>
        <td>
            <p></p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:jquery-autocomplete-deprecated</code></td>
        <td><code>-</code></td>
        <td>
            <p>
                Add the jQuery autocomplete plugin to your project.
                Look, even the key of this one told you not to use it.
            </p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-widgets</code></td>
        <td><code>-</code></td>
        <td>
            <p>
                Developers depending upon jQuery UI interface components should either use the equivalent AUI component,
                or import the specific jQuery UI components they need within their own project.
            </p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:jquery-effects</code></td>
        <td><code>-</code></td>
        <td><code>-</code></td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:jquery-all</code></td>
        <td><code class="wrm-key">com.atlassian.plugins.jquery:jquery</code></td>
        <td>
            AUI does not provide jQuery itself.
            AUI depends upon jQuery through a jQuery Atlassian plugin which
            a host product must provide.
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:jquery-aop</code></td>
        <td><code>-</code></td>
        <td>Add the jQuery.aop plugin to your project.</td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:jquery-progressbar</code></td>
        <td><code>-</code></td>
        <td>
            <p>Add the jQuery progressbar plugin to your project.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:jquery-selection</code></td>
        <td><code>-</code></td>
        <td>
            <p>Add the jQuery selection plugin to your project.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:jquery-throbber</code></td>
        <td><code>-</code></td>
        <td>
            <p>Add the jQuery throbber plugin to your project.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:placeholder</code></td>
        <td><code>-</code></td>
        <td>
            <p>This browser polyfill is no longer required.</p>
        </td>
    </tr>
    </tbody>
</table>

<h5 id="8.0-deprecated-webresources">Deprecated web-resources</h5>

<p>
    The following list of web-resources are deprecated with reasonable alternatives.
</p>
<p>
    In general, "bundle" web-resources are deprecated in favour of individual web-resource keys.
    Importing multiple smaller dependencies helps keep page weight low and helps make your app code
    dependencies easier to reason about.
</p>

<table class="aui aui-table-sortable">
    <thead>
    <tr>
        <th>Deprecated web-resource</th>
        <th>Alternative web-resource(s)</th>
        <th class="aui-table-column-unsortable">Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <code class="wrm-key">com.atlassian.auiplugin:aui-page-suite</code>
        </td>
        <td>
            <p>
                This web-resource was bundling several others. Depend upon the web-resources you need directly:
            </p>
            <ul>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-reset</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-page-typography</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-page-layout</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-avatar</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-header</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-navigation</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-page-header</code></li>
            </ul>
        </td>
        <td></td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:jquery-form</code></td>
        <td><code>-</code></td>
        <td>
            <p>You should include the jQuery form plugin in your own project code.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:jquery-spin</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-spinner</code></td>
        <td>
            <p>Using &lt;aui-spinner/&gt; through jQuery is deprecated. Create a spinner element directly.</p>
        </td>
    </tr>
    <tr>
        <td>
            <code class="wrm-key">com.atlassian.auiplugin:jquery-ui</code>
        </td>
        <td>
            <p>
                This web-resource was bundling several others. Depend upon the web-resources you need directly:
            </p>
            <ul>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-data</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-draggable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-droppable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-focusable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-keycode</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-mouse</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-plugin</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-position</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-resizable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-scroll-parent</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-selectable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-sortable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-tabbable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-widget</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-unique-id</code></li>
            </ul>
        </td>
        <td>
            <p>
                jQuery UI is a combination of several behavioural utilities, interface components,
                and effects. This web-resource has a significant impact on page weight, since the whole of jQuery UI
                is quite large.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <code class="wrm-key">com.atlassian.auiplugin:internal-jquery-ui-partial</code>
        </td>
        <td>
            <p>
                This web-resource was bundling several others. Depend upon the web-resources you need directly:
            </p>
            <ul>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-data</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-draggable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-focusable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-keycode</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-plugin</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-scroll-parent</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-sortable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-widget</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-unique-id</code></li>
            </ul>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <code class="wrm-key">com.atlassian.auiplugin:jquery-ui-interactions</code>
        </td>
        <td>
            <p>
                This web-resource was bundling several others. Depend upon the web-resources you need directly:
            </p>
            <ul>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-droppable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-resizable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-selectable</code></li>
            </ul>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <code class="wrm-key">com.atlassian.auiplugin:jquery-ui-other</code>
        </td>
        <td>
            <p>
                This web-resource was bundling several others. Depend upon the web-resources you need directly:
            </p>
            <ul>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-data</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-draggable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-focusable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-keycode</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-plugin</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-position</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-scroll-parent</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-sortable</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-widget</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:jquery-ui-unique-id</code></li>
            </ul>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <code class="wrm-key">com.atlassian.auiplugin:ajs-gadgets</code>
        </td>
        <td>
            <p>
                This web-resource was bundling several others. Depend upon the web-resources you need directly:
            </p>
            <ul>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-core</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-icon</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-iconography</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-table</code></li>
            </ul>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <code class="wrm-key">com.atlassian.auiplugin:ajs-gadgets-base</code>
        </td>
        <td>
            <p>
                This web-resource was bundling several others. Depend upon the web-resources you need directly:
            </p>
            <ul>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-core</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-icon</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-iconography</code></li>
                <li><code class="wrm-key">com.atlassian.auiplugin:aui-table</code></li>
            </ul>
        </td>
        <td>
            <p>
                This web-resource was bundling resources from <code class="wrm-key">com.atlassian.auiplugin:ajs-gadgets-base</code> and adding
                them in to the <var>ajs.gadgets</var> context. Authors of gadgets will want to manually re-add the necessary
                web-resource keys to their own gadgets.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-iconfont</code></p>
            <p><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-devtools-iconfont</code></p>
        </td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-iconography</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
            <p>
                The fact that icons are delivered through an iconfont is an implementation detail,
                thus did not make sense to enshrine in the key.
            </p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-soy-templates</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:soy</code></td>
        <td>The "experimental" concept has been removed.</td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-soy-templates-2</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:soy</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
            <p>Also, we already *had* a web-resource key for these. I guess we just liked the number 2?</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-avatars</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-avatar</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-badge</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-badge</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-buttons</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-button</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-data-handlers</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-progressive-data-set</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-date-picker</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-date-picker</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-dropdown2</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-dropdown2</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-expander</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-expander</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-header</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-header</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-labels</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-labels</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-lozenge</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-lozenge</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-navigation</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-navigation</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-page-header</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-page-header</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-page-layout</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-page-layout</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-progress-indicator</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-progress-indicator</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-progress-tracker</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-progress-tracker</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-reset</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-reset</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-restfultable</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-restfultable</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-spinner</code></td>
        <td>
            <p><code class="wrm-key">com.atlassian.auiplugin:aui-spinner</code></p>
            <p>
                Also include <code class="wrm-key">com.atlassian.auiplugin:jquery-spin</code> if you
                need the <code>jQuery(...).spin()</code> and <code>jQuery(...).spinStop()</code> functions.
            </p>
        </td>
        <td>
            <p>The "experimental" concept has been removed.</p>
            <p>The preferred method of creating spinners is with the web component.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-table-sortable</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-table-sortable</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-toolbar2</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-toolbar2</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    <tr>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-experimental-tooltips</code></td>
        <td><code class="wrm-key">com.atlassian.auiplugin:aui-tooltip</code></td>
        <td>
            <p>The "experimental" concept has been removed.</p>
        </td>
    </tr>
    </tbody>
</table>


<h3 id="8.0-common-runtime-errors">Common runtime errors</h3>
<table class="aui">
    <thead>
    <tr>
        <th>Symptom</th>
        <th>What to do</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>$.widget</code> is undefined</td>
        <td>
            <p>In the Node package:</p>
            <ul>
                <li>Add a dependency on <var>jquery-ui</var> to your project.</li>
                <li>Import it after <var>jquery</var>.</li>
            </ul>
            <p>In the Atlassian plugin:</p>
            <ul>
                <li>Add a web-resource dependency on <var>jquery-ui-widget</var>.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p><code>$(...).after</code> is not a function</p>
            <p><code>$(...).before</code> is not a function</p>
            <p><code>$(...).around</code> is not a function</p>
        </td>
        <td>Add the jQuery.aop plugin to your project.</td>
    </tr>
    <tr>
        <td>
            <p><code>$(...).ajaxForm</code> is not a function</p>
            <p><code>$(...).ajaxSubmit</code> is not a function</p>
        </td>
        <td>
            <p>Add the <a href="http://jquery.malsup.com/form/">jQuery form plugin</a> to your project.</p>
            <p>In the Atlassian plugin:</p>
            <ul>
                <li>Add a web-resource dependency on <code class="wrm-key">com.atlassian.auiplugin:jquery-form</code>.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><code>$(...).draggable</code> is not a function</td>
        <td>
            <p>Add a dependency on <var>jquery-ui/ui/widgets/draggable</var>.</p>
            <p>In the Atlassian plugin:</p>
            <ul>
                <li>Add a web-resource dependency on <code class="wrm-key">com.atlassian.auiplugin:jquery-ui-draggable</code>.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><code>$(...).droppable</code> is not a function</td>
        <td>
            <p>Add a dependency on <var>jquery-ui/ui/widgets/droppable</var>.</p>
            <p>In the Atlassian plugin:</p>
            <ul>
                <li>Add a web-resource dependency on <code class="wrm-key">com.atlassian.auiplugin:jquery-ui-droppable</code>.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><code>$(...).mouse</code> is not a function</td>
        <td>
            <p>Add a dependency on <var>jquery-ui/ui/widgets/mouse</var>.</p>
            <p>In the Atlassian plugin:</p>
            <ul>
                <li>Add a web-resource dependency on <code class="wrm-key">com.atlassian.auiplugin:jquery-ui-mouse</code>.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><code>$(...).position</code> is not a function</td>
        <td>
            <p>Add a dependency on <var>jquery-ui/ui/position</var>.</p>
            <p>In the Atlassian plugin:</p>
            <ul>
                <li>Add a web-resource dependency on <code class="wrm-key">com.atlassian.auiplugin:jquery-ui-position</code>.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><code>$(...).resizable</code> is not a function</td>
        <td>
            <p>Add a dependency on <var>jquery-ui/ui/widgets/resizable</var> and <var>jquery-ui/themes/base/resizable.css</var>.</p>
            <p>In the Atlassian plugin:</p>
            <ul>
                <li>Add a web-resource dependency on <code class="wrm-key">com.atlassian.auiplugin:jquery-ui-resizable</code>.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><code>$(...).selectable</code> is not a function</td>
        <td>
            <p>Add a dependency on <var>jquery-ui/ui/widgets/selectable</var> and <var>jquery-ui/themes/base/selectable.css</var>.</p>
            <p>In the Atlassian plugin:</p>
            <ul>
                <li>Add a web-resource dependency on <code class="wrm-key">com.atlassian.auiplugin:jquery-ui-selectable</code>.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><code>$(...).sortable</code> is not a function</td>
        <td>
            <p>Add a dependency on <var>jquery-ui/ui/widgets/sortable</var> and <var>jquery-ui/themes/base/sortable.css</var>.</p>
            <p>In the Atlassian plugin:</p>
            <ul>
                <li>Add a web-resource dependency on <code class="wrm-key">com.atlassian.auiplugin:jquery-ui-sortable</code>.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p><code>$(...).spin</code> is not a function</p>
            <p><code>$(...).spinStop</code> is not a function</p>
        </td>
        <td>
            <p>The jQuery spin behaviour was split in to its own module, separate to the AUI spinner component.</p>
            <p>You should replace usage of these jQuery functions with <a href="{{rootPath}}docs/spinner.html">spinner</a>.</p>
            <p>In the Atlassian plugin:</p>
            <ul>
                <li>Add a web-resource dependency on <code class="wrm-key">com.atlassian.auiplugin:jquery-spin</code>.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p><code>$.dropDown</code> is not a function</p>
        </td>
        <td>
            <p>Dropdown 1 was removed from AUI 8.</p>
            <p>Consult the <a href="#8.0-removed-components">removed components section</a> for more details.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><code>AJS.Dialog</code> is not a function</p>
        </td>
        <td>
            <p>Dialog 1 was removed from AUI 8.</p>
            <p>Consult the <a href="#8.0-removed-components">removed components section</a> for more details.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><code>AJS.InlineDialog</code> is not a function</p>
        </td>
        <td>
            <p>Inline Dialog 1 was removed from AUI 8.</p>
            <p>Consult the <a href="#8.0-removed-components">removed components section</a> for more details.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><code>AJS.template</code> is undefined</p>
            <p>Cannot read property "fill" of undefined</p>
        </td>
        <td>
            <p>You need to explicitly import this function now.</p>
            <p>In the Node package:</p>
            <ul>
                <li>Add a dependency on <var>@atlassian/aui-template</var> to your <code>package.json</code> file.</li>
                <li>
                    This package uses the UMD pattern for its export.
                    When treating it as a module, use its default export.
                    If no module system is available, it exports to <var>window.ajstemplate</var>.</li>
            </ul>
            <p>In the Atlassian plugin:</p>
            <ul>
                <li>Add a web-resource dependency on <code class="wrm-key">com.atlassian.auiplugin:template</code></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p><code>window.Backbone</code> is undefined</p>
            <p>Cannot read property "extend" of undefined</p>
            <p>Cannot read property "Model" of undefined</p>
        </td>
        <td>
            <p>Import your own version of Backbone.</p>
            <p>
                In the Atlassian plugin for AUI 8, you can still import <code class="wrm-key">com.atlassian.auiplugin:ajs-backbone</code>
                to create the global variable, but this will be removed in a future version.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p><code>window._</code> is undefined</p>
            <p>Cannot read property "filter" of undefined</p>
            <p>Cannot read property "map" of undefined</p>
            <p>Cannot read property "extend" of undefined</p>
        </td>
        <td>
            <p>Import your own version of Underscore.</p>
            <p>
                In the Atlassian plugin for AUI 8, you can still import <code class="wrm-key">com.atlassian.auiplugin:ajs-underscorejs</code>
                to create the global variable, but this will be removed in a future version.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p><code>whenIType</code> is undefined</p>
        </td>
        <td>
            <p>You need to explicitly import the keyboard shortcuts web-resource dependency:</p>
            <p><code class="wrm-key">com.atlassian.auiplugin:aui-keyboard-shortcuts</code></p>
        </td>
    </tr>
    <tr>
        <td>
            <p>The blue bar for the top menu is gone!</p>
            <p>The application header looks weird!</p>
        </td>
        <td>
            <p>You need to explicitly import the AUI application header component now.</p>
            <p>In the Atlassian plugin:</p>
            <ul>
                <li>Add a web-resource dependency on <code class="wrm-key">com.atlassian.auiplugin:aui-header</code>, or</li>
                <li>
                    Add a web-resource dependency on <code class="wrm-key">com.atlassian.auiplugin:aui-header-unresponsive</code>
                    if you do not want the dynamic menu item behaviour (where items collapse in to the "More" link
                    when there is insufficient horizontal space for them all).
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Restful tables don't render any more!</td>
        <td>
            <p>You need to explicitly import them now.</p>
            <p>In the Atlassian plugin:</p>
            <ul>
                <li>Add a web-resource dependency on <code class="wrm-key">com.atlassian.auiplugin:aui-restfultable</code></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
