.test-block {
    padding: 1em;
    border: 1px solid var(--aui-border, #ccc);

    &:not(:first-of-type) {
        margin-block-start: 1em;
    }

    h2 {
        margin: 0;

        & + p {
            margin-block-end: 1em;
        }
    }
}

#bamboo-autocomplete-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 3fr;
    gap: 1em;
}

#bamboo-autocomplete-actions button:not(:first-child) {
    margin-inline-start: 0.5em;
}
