#actions {
    /* Roughly the height of 4 nav items to cut off after the "More" link */
    min-height: 9.5em;
}

.aui-sidebar .aui-expander-content[aria-expanded='true'] .aui-expander-cutoff,
.aui-inline-dialog .aui-sidebar-submenu .aui-expander-cutoff {
    display: none;
}

.aui-sidebar .aui-expander-content[aria-expanded='false'] .aui-expander-cutoff ~ li {
    display: none;
}

.aui-inline-dialog .aui-sidebar-submenu #actions {
    /* Need to override the height the expander sets. */
    height: auto;
}
