@import (reference) '~@atlassian/aui/src/less/imports/mixins/shadows';
@import (reference) '~@atlassian/aui/src/less/imports/aui-theme/core/borders';
@import (reference) '~@atlassian/aui/src/less/imports/aui-theme/theme';

aui-docs-contents {
    #aui.shadow.z100();
    background-color: var(--aui-page-background);
    border: 1px solid var(--aui-border);
    border-radius: @aui-border-radius-small;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;

    #aui-themes.switch-light-dark({
        @import (reference) '~@atlassian/aui/src/less/imports/aui-theme/adg/adg-neutral-light.less';
        & {
            background-color: @ak-color-N10;
            color: @ak-color-N600;
        }
    }, {
        @import (reference) '~@atlassian/aui/src/less/imports/aui-theme/adg/adg-neutral-dark.less';
        & {
            background-color: @ak-color-N40;
            color: @ak-color-N600;
        }
    });

    h6 {
        #aui.typography.h100();
        display: inline;
    }

    ol {
        counter-reset: aui-toc;
        list-style-type: none;
        margin-top: 0;
        padding-left: 0;

        li {
            margin-bottom: 0.1em;

            &::before {
                counter-increment: aui-toc;
                content: counters(aui-toc, '.') ' ';
                padding-right: 0.5em;
            }
        }

        ol {
            padding-left: 20px;
        }
    }

    .aui-expander-content {
        overflow: unset;
    }

    &:not([resolved]) {
        display: none;
    }
}
