/**
 * Do not load AUI resources for test pages - they must be viewed in the refapp.
 */
.aui-icon-test16,
.aui-icon-test16-dark {
    background-image: url('img/icon-test-16.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.aui-docs-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aui-docs-label::after {
    --aui-message-ig: '\f221';
    position: relative;
    order: -1;
    left: unset;
    top: unset;
    right: calc(var(--aui-message-padding) + var(--aui-message-isize));
}

.aui-docs-label p {
    flex: 1;
}

.hide {
    display: none;
}
