<!-- Remember to translate all `aria-label` values!
     Use the `aui.landmarks.site` i18n key here. -->
<nav class="aui-header aui-dropdown2-trigger-group" aria-label="site">
    <div class="aui-header-inner">
        <div class="aui-header-primary">
            <span id="logo" class="aui-header-logo aui-header-logo-textonly">
                <!-- Remember to translate all `aria-label` values!
                     Use the `aui.header.home.link` i18n key here. -->
                <a href="https://example.com/" aria-label="Go to home page">
                    <span class="aui-header-logo-device">AUI</span>
                </a>
            </span>

            <ul class="aui-nav">
                <li><a href="https://example.com/">Nav</a></li>
            </ul>
        </div>
    </div>
</nav>
