<aui-docs-example
    live-demo
    label="You can use the busy() and idle() functions on a button to change the user's perception of a button as 'busy'.">
    <noscript is="aui-docs-code" type="text/html">
        <button class="aui-button" id="button-spin-1">Do Something</button>
        <button class="aui-button aui-button-primary" id="button-spin-2">Do Something</button>
    </noscript>

    <noscript is="aui-docs-code" type="text/js">
    AJS.$(document).on('click', '#button-spin-1, #button-spin-2', function() {
        var that = this;
        if (!that.isBusy()) {
            that.busy();

            setTimeout(function() {
                that.idle();
            }, 2000);
        }
    });
    </noscript>
</aui-docs-example>
