<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <div id="search-area-example" class="custom-card-style">
            <p>Loading results...</p>
            <aui-spinner size="large"></aui-spinner>
        </div>
    </noscript>
    <noscript is="aui-docs-code" type="text/css">
        #search-area-example {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #search-area-example aui-spinner {
            margin: 1em;
        }

        .custom-card-style {
            border-radius: 3px;
            box-shadow:
                0 1px 1px rgba(9, 30, 66, 0.25),
                0 0 1px 0 rgba(9, 30, 66, 0.31);
            margin: 0 auto;
            padding: 10px;
            width: 20em;
        }
    </noscript>
</aui-docs-example>
