.row:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.example h2 {
    color: blue;
}

.example .content {
    padding: 15px;
}

.example {
    list-style-type: none;
    margin: 0 20px 20px 0;
    background: white;
    border-radius: 10px;
    width: 44%;
    min-height: 250px;
    float: left;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.example:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.navigation {
    margin: 0 2.5% 20px;
}

#test-move-to-and-focus:focus {
    background: blue;
    color: white;
}

.action-block.focused {
    background: lightblue;
}
