<p>
    Please use the <a target="_blank" href="https://www.w3.org/WAI/ARIA/apg/patterns/">Web Accessibility Initiative (WAI) patterns</a>
    as a reference for implementing accessible components.
</p>
