<table class="aui auidocs-colors-table">
    <thead>
        <tr>
            <th>CSS variable</th>
            <th>Old light mode</th>
            <th>Old dark mode</th>
            <th>Design tokens CSS variable</th>
        </tr>
    </thead>
    {{#each data.sections}}
        <tr class="sectionHeader"><th colspan="4">{{sectionComment}}</td></th>

        {{#each combinedDefinitions}}
            <tr>
                <th id="{{@key}}">{{@key}}</th>

                {{#each this}}
                    <td>
                        {{#if hasPreview}}
                            <div class="preview {{className}}"></div>
                        {{/if}}
                        {{#if isInternalReference}}
                            <i>(internal reference)</i>
                            <a href="#{{internalReferenceTarget}}">
                                <div class="text">{{varValue}}</div>
                            </a>
                        {{else if isDesignToken}}
                            <div class="text">{{designTokenValue}}</div>
                        {{else}}
                            <div class="text">{{varValue}}</div>
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
        {{/each}}
    {{/each}}
</table>
