<nav class="aui-navgroup aui-navgroup-vertical" aria-label="components">
    <div class="aui-navgroup-inner" id="left-navigation">
        <h3 class="aui-nav-heading">
            Design Patterns
        </h3>
        <ul class="aui-nav">
            <li><a href="{{rootPath}}docs/patterns/current-and-selected.html" class="docs-nav-link">Current and selected items</a></li>
        </ul>
    </div>
</nav>
