.grey-background {
    background-color: #333333;
    border-radius: 3px;
}

form .blue-border {
    padding: 7px;
    outline: 2px solid red;
    border-radius: 3px;
    background: white;
}

form.aui .field-group.grey-background .ffi {
    background-color: grey;
    border: 3px solid white;
}

form.aui .field-group.grey-background .ffi:before {
    color: white;
}

form.aui .field-group.grey-background label {
    color: white;
}
