code {
    background-color: var(--aui-label-bg-color);
    border-radius: 3.01px;
    color: var(--aui-label-text-color);
    font-weight: normal;
    font-size: 85%;
    padding: 0.2em 0.4em;
}

aui-docs-example {
    aui-code-block.aui-live-demo {
        code {
            background-color: unset;
            border-radius: unset;
            color: inherit;
            font-weight: inherit;
            font-size: inherit;
            padding: unset;
        }
    }
}
