#icons-list {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 20px);
    grid-template-rows: 20px;
    align-items: center;
    justify-items: center;

    > * {
        cursor: pointer;
    }

    > .icon-list-dimmed {
        opacity: 0.2;
    }
}

@supports not (display: grid) {
    #icons-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .aui-icon {
            margin: 5px;
        }
    }
}
